Repository slaclab/pysmurf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

.github/CODEOWNERS:

# @swh76 and @eyyoung24 will be the default owners for everything.
# Unless a later match takes precedence, they will be requested
# for review when someone opens a pull request.
*                       @swh76 @eyyoung24

# @jesusvasquez333 and @slacrherbst owns the code related
# to the core, dockers, and startup scripts.
# Only them will be requested for review.
/src/                   @jesusvasquez333 @slacrherbst
/include/               @jesusvasquez333 @slacrherbst
/python/pysmurf/core/   @jesusvasquez333 @slacrherbst
/docker/                @jesusvasquez333 @slacrherbst
/server_scripts/        @jesusvasquez333 @slacrherbst
/tests/core             @jesusvasquez333 @slacrherbst
/releaseGen.py          @jesusvasquez333 @slacrherbst
/README.*.md            @jesusvasquez333 @slacrherbst

# @swh76, @eyyoung24, @jesusvasquez333 and @slacrherbst owns
# the github related scripts.
# All of them will be requested for review.
/.github/               @swh76 @eyyoung24 @jesusvasquez333 @slacrherbst

Fix config file, update to use bandDelayUs
  cfg_files/caltech/tkid/experiment_tkid_lbOnlyBay0.cfg
Owners: @swh76, @eyyoung24

Return total delay in microseconds
  python/pysmurf/client/util/smurf_util.py
Owners: @swh76, @eyyoung24

Add estimate_phase_delay to the setup instructions
  scratch/mdewart/intro_to_smurf.ipynb
Owners: @swh76, @eyyoung24

Return total delay in microseconds
  python/pysmurf/client/util/smurf_util.py
Owners: @swh76, @eyyoung24

Create skeleton of the new band feedback module
  include/smurf/core/feedbacks/BandPhaseFeedback.h
  include/smurf/core/feedbacks/module.h
  python/pysmurf/core/feedbacks/_BandPhaseFeedback.py
  python/pysmurf/core/feedbacks/__init__.py
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
  src/smurf/core/feedbacks/CMakeLists.txt
  src/smurf/core/feedbacks/module.cpp
  src/smurf/core/module.cpp
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: add methods to set the tone channels and frequencies, and to read the estimated tau and theta parameters
  include/smurf/core/feedbacks/BandPhaseFeedback.h
  python/pysmurf/core/feedbacks/_BandPhaseFeedback.py
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

Add the BandPhaseFeedback device to the SmurfProcessor
  python/pysmurf/core/devices/_SmurfProcessor.py
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: fix typos
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: FIx data type. The frequencies, tau, and theta are floats
  python/pysmurf/core/feedbacks/_BandPhaseFeedback.py
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: expose the data valid flag to the rogue tree
  include/smurf/core/feedbacks/BandPhaseFeedback.h
  python/pysmurf/core/feedbacks/_BandPhaseFeedback.py
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: add missing pollInterval value
  python/pysmurf/core/feedbacks/_BandPhaseFeedback.py
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: verify that the incoming frames have enough channels to map all the channel number defined in toneCh
  include/smurf/core/feedbacks/BandPhaseFeedback.h
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: Add rogue variable to expose the number of channels in the incoming frame
  include/smurf/core/feedbacks/BandPhaseFeedback.h
  python/pysmurf/core/feedbacks/_BandPhaseFeedback.py
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: Fix comparison to determine if maxToneCh is valid
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: Implement the tau and theta estimations
  include/smurf/core/feedbacks/BandPhaseFeedback.h
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: Add the band number
  include/smurf/core/feedbacks/BandPhaseFeedback.h
  python/pysmurf/core/devices/_SmurfProcessor.py
  python/pysmurf/core/feedbacks/_BandPhaseFeedback.py
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: Add minimum and maximum constrain on frequencies based on the band number
  include/smurf/core/feedbacks/BandPhaseFeedback.h
  python/pysmurf/core/feedbacks/_BandPhaseFeedback.py
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: Remove the maximum number of tones constrain
  include/smurf/core/feedbacks/BandPhaseFeedback.h
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: Set the initial tone frequencies to the minimum allowed value, to avoid having error messages when the system is started
  python/pysmurf/core/feedbacks/_BandPhaseFeedback.py
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: Set the BandPhaseFeedback module to disable by default
  python/pysmurf/core/feedbacks/_BandPhaseFeedback.py
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: The input frequencies are now expressed in GHz
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

Create a new SmurfPacket class, which does not create a copy of the data, and use it in the BandPhaseFeedback class
  include/smurf/core/common/SmurfPacket.h
  src/smurf/core/common/SmurfPacket.cpp
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: fix typo, add missing return statement
  src/smurf/core/common/SmurfPacket.cpp
Owners: @jesusvasquez333, @slacrherbst

SmurfPacketZeroCopyRO: Create a pointer to the packet data when creating the object instead of a FrameAccessor object every time data is requested
  include/smurf/core/common/SmurfPacket.h
  src/smurf/core/common/SmurfPacket.cpp
Owners: @jesusvasquez333, @slacrherbst

validate_band_estimator: Save the tau and theta parameters from the model and compare them with the estimated values
  tests/core/validate_band_estimator.py
Owners: @jesusvasquez333, @slacrherbst

validate_band_estimator: calculate RMSE between model and estimated values
  tests/core/validate_band_estimator.py
Owners: @jesusvasquez333, @slacrherbst

_DataFromFile.py: Add support to send multiple data points on each frame if the file has multiple columns. Also support data of different bit sizes
  python/pysmurf/core/emulators/_DataFromFile.py
Owners: @jesusvasquez333, @slacrherbst

_DataToFile.py: Add support to extract multiple data points from each frame into the data file. Also support data of different bit sizes
  python/pysmurf/core/transmitters/_DataToFile.py
Owners: @jesusvasquez333, @slacrherbst

validate_filter.py: Remove unused libraries, and fix debug message
  tests/core/validate_filter.py
Owners: @jesusvasquez333, @slacrherbst

_SmurfProcessor.py: Remove white spaces
  python/pysmurf/core/devices/_SmurfProcessor.py
Owners: @jesusvasquez333, @slacrherbst

validate_filter.py: Add missing comment
  tests/core/validate_filter.py
Owners: @jesusvasquez333, @slacrherbst

validate_band_estimator.py: Add the test of the BandPhaseFeedback device, plus some other improvements
  tests/core/validate_band_estimator.py
Owners: @jesusvasquez333, @slacrherbst

validate_band_estimator.py: Assert estimation RMSE results
  tests/core/validate_band_estimator.py
Owners: @jesusvasquez333, @slacrherbst

Add the validate_band_estimator.py test to the CI/CD script
  .github/workflows/ci-cd.yml
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Move the local frame generator class used in the validate_band_estimator.py script, to an standalone emulator device class
  python/pysmurf/core/emulators/_FrameGenerator.py
  python/pysmurf/core/emulators/__init__.py
  tests/core/validate_band_estimator.py
Owners: @jesusvasquez333, @slacrherbst

validate_band_estimator.py: Fix typos
  tests/core/validate_band_estimator.py
Owners: @jesusvasquez333, @slacrherbst

Move the DataMaster class used by both the DataFromFile and the FrameGenerator emulator devices to a standalone class, to reused the same code
  python/pysmurf/core/emulators/_DataFromFile.py
  python/pysmurf/core/emulators/_DataMaster.py
  python/pysmurf/core/emulators/_FrameGenerator.py
  tests/core/validate_band_estimator.py
Owners: @jesusvasquez333, @slacrherbst

Fix flake8 errors
  python/pysmurf/core/emulators/_DataFromFile.py
  python/pysmurf/core/emulators/_FrameGenerator.py
Owners: @jesusvasquez333, @slacrherbst

Add a new type of stream data emulator, which generated fixed tone phase signals
  README.DataEmulator.md
  include/smurf/core/emulators/StreamDataEmulator.h
  python/pysmurf/core/emulators/_StreamDataEmulatorI16.py
  python/pysmurf/core/emulators/_StreamDataEmulatorI32.py
  src/smurf/core/emulators/StreamDataEmulator.cpp
Owners: @jesusvasquez333, @slacrherbst

README.SmurfProcessor.md: Update the documentation by adding the description of the new BandPhaseFeedback device
  README.SmurfProcessor.md
Owners: @jesusvasquez333, @slacrherbst
