Repository slaclab/pysmurf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

.github/CODEOWNERS:

# @swh76 and @eyyoung24 will be the default owners for everything.
# Unless a later match takes precedence, they will be requested
# for review when someone opens a pull request.
*                       @swh76 @eyyoung24

# @jesusvasquez333 and @slacrherbst owns the code related
# to the core, dockers, and startup scripts.
# Only them will be requested for review.
/src/                   @jesusvasquez333 @slacrherbst
/include/               @jesusvasquez333 @slacrherbst
/python/pysmurf/core/   @jesusvasquez333 @slacrherbst
/docker/                @jesusvasquez333 @slacrherbst
/server_scripts/        @jesusvasquez333 @slacrherbst
/tests/core             @jesusvasquez333 @slacrherbst
/releaseGen.py          @jesusvasquez333 @slacrherbst
/README.*.md            @jesusvasquez333 @slacrherbst

# @swh76, @eyyoung24, @jesusvasquez333 and @slacrherbst owns
# the github related scripts.
# All of them will be requested for review.
/.github/               @swh76 @eyyoung24 @jesusvasquez333 @slacrherbst

Fixed Flake8 errors
  python/pysmurf/client/util/tkid_util.py
Owners: @swh76, @eyyoung24

Add test script 'validate_base_tx.py' to validate the correct functionality of the base transmitter module
  .github/workflows/ci-cd.yml
  tests/core/README.md
  tests/core/validate_base_tx.py
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Fix typos
  tests/core/README.md
Owners: @jesusvasquez333, @slacrherbst

Fix typos
  tests/core/validate_base_tx.py
Owners: @jesusvasquez333, @slacrherbst

Fix lint warnings in test scripts
  tests/core/profile_smurf_processor.py
  tests/core/validate_filter.py
  tests/core/validate_unwrapper.py
Owners: @jesusvasquez333, @slacrherbst

Fix typos
  tests/core/README.md
Owners: @jesusvasquez333, @slacrherbst

Move the SmurfPacketRO and SmurfPacketROPtr typedef back to the SmurfPacket.h file, to avoid breaking user code that might be using it outside of a class derivate from BaseTransmitter
  include/smurf/core/common/SmurfPacket.h
  include/smurf/core/transmitters/BaseTransmitter.h
Owners: @jesusvasquez333, @slacrherbst

Some debugging, adding filtering and eta scaling to the noise I, Q
  python/pysmurf/client/util/tkid_util.py
Owners: @swh76, @eyyoung24

Add scripts to generate the stable docker image from this repository
  docker/server/.gitignore
  docker/server/Dockerfile
  docker/server/build.sh
  docker/server/definitions.sh
  docker/server/validate.sh
Owners: @jesusvasquez333, @slacrherbst

Uncomment docker image push commands
  docker/server/build.sh
Owners: @jesusvasquez333, @slacrherbst

CI: Use the new build.sh script to generate the pysmurf server images
  .github/workflows/ci-cd.yml
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

CI: Add the validation of the docker server definitions.sh file to the check jobs
  .github/workflows/ci-cd.yml
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Add a new label 'firmware-change' to PR when the definitions.sh file is changed
  .github/labeler.yml
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

CI: add missing checkout code to newly added job
  .github/workflows/ci-cd.yml
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Process the new 'firmware-change' label in the release note script
  releaseGen.py
Owners: @jesusvasquez333, @slacrherbst

CI: only run tests if all checks pass
  .github/workflows/ci-cd.yml
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Fix check_if_private_tag_exist to use the github token correctly
  docker/server/validate.sh
Owners: @jesusvasquez333, @slacrherbst

Trying using the github token
  .github/workflows/ci-cd.yml
  docker/server/validate.sh
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Try with a different token
  .github/workflows/ci-cd.yml
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Try using ubuntu-latest
  .github/workflows/ci-cd.yml
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Trying again with quotes
  docker/server/validate.sh
Owners: @jesusvasquez333, @slacrherbst

Fix typo
  docker/server/validate.sh
Owners: @jesusvasquez333, @slacrherbst

Add debug info
  docker/server/validate.sh
Owners: @jesusvasquez333, @slacrherbst

Try with a ssh key
  .github/workflows/ci-cd.yml
  docker/server/validate.sh
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Add the ssh key to the docker server image deployment job as well
  .github/workflows/ci-cd.yml
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Need to create an empty local_files when building the test server docker image
  .github/workflows/ci-cd.yml
  docker/server/Dockerfile
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Update README file
  README.Docker.md
  docker/server/build.sh
Owners: @jesusvasquez333, @slacrherbst

Update README file
  README.Docker.md
Owners: @jesusvasquez333, @slacrherbst

Update FW to version v1.0.5 (8ccb67e)
  docker/server/definitions.sh
Owners: @jesusvasquez333, @slacrherbst

Revert "Fix drop frames to the external transmitters devices"
  .github/workflows/ci-cd.yml
  README.CustomDataTransmitter.md
  README.SmurfProcessor.md
  cfg_files/stanford/experiment_fp31_cc03-02_lbOnlyBay0.cfg
  docker/server/Dockerfile
  include/smurf/core/common/SmurfPacket.h
  include/smurf/core/transmitters/BaseTransmitter.h
  include/smurf/core/transmitters/DualDataBuffer.h
  python/pysmurf/client/base/smurf_config.py
  python/pysmurf/client/base/smurf_config_properties.py
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/command/test_sphinx.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
  python/pysmurf/core/devices/_SmurfProcessor.py
  python/pysmurf/core/transmitters/_BaseTransmitter.py
  server_scripts/cmb_eth.py
  server_scripts/cmb_pcie.py
  server_scripts/dev_board_eth.py
  server_scripts/dev_board_pcie.py
  server_scripts/emulate.py
  src/smurf/core/common/SmurfPacket.cpp
  src/smurf/core/processors/SmurfProcessor.cpp
  src/smurf/core/transmitters/BaseTransmitter.cpp
  src/smurf/core/transmitters/CMakeLists.txt
  src/smurf/core/transmitters/DualDataBuffer.cpp
  tests/core/README.md
  tests/core/profile_smurf_processor.py
  tests/core/validate_base_tx.py
  tests/core/validate_filter.py
  tests/core/validate_unwrapper.py
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Revert "Merge branch 'develop' into ESCRYODET-813"
  cfg_files/stanford/experiment_fp31_cc03-02_lbOnlyBay0.cfg
  python/pysmurf/client/base/smurf_config.py
  python/pysmurf/client/base/smurf_config_properties.py
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/command/test_sphinx.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
Owners: @swh76, @eyyoung24

Remove the DualDataBuffers from the BaseTransmitter, as it was preventing the upstream fifos to work correctly. Instead, pass the frame information to the TX callback functions directly
  include/smurf/core/transmitters/BaseTransmitter.h
  include/smurf/core/transmitters/DualDataBuffer.h
  src/smurf/core/transmitters/BaseTransmitter.cpp
  src/smurf/core/transmitters/CMakeLists.txt
  src/smurf/core/transmitters/DualDataBuffer.cpp
Owners: @jesusvasquez333, @slacrherbst

BaseTransmitter: add receive and drop frames counters, for both data and metadata channels
  include/smurf/core/transmitters/BaseTransmitter.h
  python/pysmurf/core/transmitters/_BaseTransmitter.py
  src/smurf/core/transmitters/BaseTransmitter.cpp
Owners: @jesusvasquez333, @slacrherbst

BaseTransmitter: reduce scope of frame lock
  src/smurf/core/transmitters/BaseTransmitter.cpp
Owners: @jesusvasquez333, @slacrherbst

BaseTransmitter: Removed unnecessary callback functions. We can call the functions directly
  include/smurf/core/transmitters/BaseTransmitter.h
  src/smurf/core/transmitters/BaseTransmitter.cpp
Owners: @jesusvasquez333, @slacrherbst

SmurfProcessor: Add an additional fifo for the metadata frames
  python/pysmurf/core/devices/_SmurfProcessor.py
Owners: @jesusvasquez333, @slacrherbst

Fix typos
  tests/core/README.md
Owners: @jesusvasquez333, @slacrherbst

Fix typos
  tests/core/validate_base_tx.py
Owners: @jesusvasquez333, @slacrherbst

Add test script 'validate_base_tx.py' to validate the correct functionality of the base transmitter module
  .github/workflows/ci-cd.yml
  tests/core/README.md
  tests/core/validate_base_tx.py
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Fix lint warnings in test scripts
  tests/core/profile_smurf_processor.py
  tests/core/validate_filter.py
  tests/core/validate_unwrapper.py
Owners: @jesusvasquez333, @slacrherbst
