Repository slaclab/pysmurf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

.github/CODEOWNERS:

# @swh76 and @eyyoung24 will be the default owners for everything.
# Unless a later match takes precedence, they will be requested
# for review when someone opens a pull request.
*                       @swh76 @eyyoung24

# @jesusvasquez333 and @slacrherbst owns the code related
# to the core, dockers, and startup scripts.
# Only them will be requested for review.
/src/                   @jesusvasquez333 @slacrherbst
/include/               @jesusvasquez333 @slacrherbst
/python/pysmurf/core/   @jesusvasquez333 @slacrherbst
/docker/                @jesusvasquez333 @slacrherbst
/server_scripts/        @jesusvasquez333 @slacrherbst
/tests/core             @jesusvasquez333 @slacrherbst
/releaseGen.py          @jesusvasquez333 @slacrherbst
/README.*.md            @jesusvasquez333 @slacrherbst

# @swh76, @eyyoung24, @jesusvasquez333 and @slacrherbst owns
# the github related scripts.
# All of them will be requested for review.
/.github/               @swh76 @eyyoung24 @jesusvasquez333 @slacrherbst

Try with a ssh key
  .github/workflows/ci-cd.yml
  docker/server/validate.sh
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Need to create an empty local_files when building the test server docker image
  docker/server/Dockerfile
Owners: @jesusvasquez333, @slacrherbst

Add bandDelayUs to config file, make refPhaseDelay and refPhaseDelayFine optional (should use bandDelayUs now)
  cfg_files/stanford/experiment_fp31_cc03-02_lbOnlyBay0.cfg
  python/pysmurf/client/base/smurf_config.py
  python/pysmurf/client/base/smurf_config_properties.py
  python/pysmurf/client/base/smurf_control.py
Owners: @swh76, @eyyoung24

remove payload size check
  python/pysmurf/client/util/smurf_util.py
Owners: @swh76, @eyyoung24

Linting fixes
  python/pysmurf/client/util/smurf_util.py
Owners: @swh76, @eyyoung24

Updated docstring
  python/pysmurf/client/util/smurf_util.py
Owners: @swh76, @eyyoung24

Fixed documentation style
  python/pysmurf/client/command/smurf_command.py
Owners: @swh76, @eyyoung24

add channel assignment tracking to tune file
  python/pysmurf/client/tune/smurf_tune.py
Owners: @swh76, @eyyoung24

Registers debug dat file with publisher
  python/pysmurf/client/util/smurf_util.py
Owners: @swh76, @eyyoung24

Fix docker build script, enable image push command
  docker/server/build.sh
Owners: @jesusvasquez333, @slacrherbst

Fix style for linting
  python/pysmurf/client/base/smurf_config_properties.py
Owners: @swh76, @eyyoung24

More doc style fixes
  python/pysmurf/client/command/smurf_command.py
Owners: @swh76, @eyyoung24

Update estimate phase delay to use bandDelayUs
  python/pysmurf/client/util/smurf_util.py
Owners: @swh76, @eyyoung24

Deprecated ref_phase_delay and ref_phase_delay_fine, use band_delay_us instead
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/command/test_sphinx.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
Owners: @swh76, @eyyoung24

add rogue info on load tune
  python/pysmurf/client/tune/smurf_tune.py
Owners: @swh76, @eyyoung24

Return total delay in microseconds
  python/pysmurf/client/util/smurf_util.py
Owners: @swh76, @eyyoung24

Linting fixes
  python/pysmurf/client/base/smurf_config.py
  python/pysmurf/client/base/smurf_config_properties.py
  python/pysmurf/client/base/smurf_control.py
Owners: @swh76, @eyyoung24

Update README file
  README.Docker.md
  docker/server/build.sh
Owners: @jesusvasquez333, @slacrherbst

Added set/get-predata_emulator_disable hooks
  python/pysmurf/client/command/smurf_command.py
Owners: @swh76, @eyyoung24

update rogue when new tune file is made
  python/pysmurf/client/tune/smurf_tune.py
Owners: @swh76, @eyyoung24

Fix merge issues after rebasing
  .github/workflows/ci-cd.yml
  README.Docker.md
  docker/server/Dockerfile
  tests/core/README.md
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Update firmware to version v1.0.6
  docker/server/definitions.sh
Owners: @jesusvasquez333, @slacrherbst

NEP function returns NEP value
  python/pysmurf/client/util/tkid_util.py
Owners: @swh76, @eyyoung24

Take out find_freqs etc. out of one for loop to save time
  python/pysmurf/client/util/tkid_util.py
Owners: @swh76, @eyyoung24

BandPhaseFeedback: Convert input toneFrequencies values to MHz
  README.SmurfProcessor.md
  python/pysmurf/core/feedbacks/_BandPhaseFeedback.py
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback: convert the read phase values to rad in order to generated Tau and Theta expressed in s and rad respectively
  README.SmurfProcessor.md
  python/pysmurf/core/feedbacks/_BandPhaseFeedback.py
  src/smurf/core/feedbacks/BandPhaseFeedback.cpp
Owners: @jesusvasquez333, @slacrherbst

BandPhaseFeedback.py: fix typos
  python/pysmurf/core/feedbacks/_BandPhaseFeedback.py
Owners: @jesusvasquez333, @slacrherbst

Adding template config. Also Eds scratch dump.
  cfg_files/template/template.cfg
  scratch/eyy/noise/princeton_phi0.py
Owners: @swh76, @eyyoung24

Create README.config_file.md
  README.config_file.md
Owners: @jesusvasquez333, @slacrherbst

Update README.config_file.md
  README.config_file.md
Owners: @jesusvasquez333, @slacrherbst

Addinig b33 config files. Also adding function to flip phase in find_freq
  cfg_files/b33/experiment_2xLB_testing_Feb2021.cfg
  cfg_files/b33/experiment_b33_lbOnlyBay0.cfg
  cfg_files/b33/experiment_b33_lbOnlyBay0_flip_hemt_polarity.cfg
  cfg_files/b33/smurf_startup.cfg
  cfg_files/b33/smurf_startup_c03-15.cfg
  python/pysmurf/client/tune/smurf_tune.py
Owners: @swh76, @eyyoung24

Adding documentation for flip_phase
  python/pysmurf/client/tune/smurf_tune.py
Owners: @swh76, @eyyoung24

doc string clean up
  python/pysmurf/client/tune/smurf_tune.py
Owners: @swh76, @eyyoung24

flake8.
  python/pysmurf/client/tune/smurf_tune.py
Owners: @swh76, @eyyoung24

Added convenience functions for setting/getting the window and its gain for streaming data
  python/pysmurf/client/util/smurf_util.py
Owners: @swh76, @eyyoung24

Added wrapper functions for setting and getting filter window for streaming data
  python/pysmurf/client/command/smurf_command.py
Owners: @swh76, @eyyoung24

Adding docstring for plot_phase
  python/pysmurf/client/tune/smurf_tune.py
Owners: @swh76, @eyyoung24

Typo
  python/pysmurf/client/tune/smurf_tune.py
Owners: @swh76, @eyyoung24

why does flake8 care about title underline length in docstring
  python/pysmurf/client/util/smurf_util.py
Owners: @swh76, @eyyoung24

Add doctrings
  python/pysmurf/client/command/smurf_command.py
Owners: @swh76, @eyyoung24
