Repository slaclab/pysmurf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

BaseTransmitter: Change the SmurfPacket Creation policy to ZeroCopyCreator
  include/smurf/core/transmitters/BaseTransmitter.h
  src/smurf/core/transmitters/BaseTransmitter.cpp
Owners: @jesusvasquez333, @slacrherbst

SmurfPacket: Break down the SmurfPacketRO class into creating policy classes
  include/smurf/core/common/SmurfPacket.h
  src/smurf/core/common/SmurfPacket.cpp
Owners: @jesusvasquez333, @slacrherbst

SmurfProcessor: Use the python wrapped fifo version, so that they appear in the rogue tree
  python/pysmurf/core/devices/_SmurfProcessor.py
Owners: @jesusvasquez333, @slacrherbst

SmurfProcessor: remove the import of the now unused rogue module
  python/pysmurf/core/devices/_SmurfProcessor.py
Owners: @jesusvasquez333, @slacrherbst

Fix typos
  tests/core/README.md
Owners: @jesusvasquez333, @slacrherbst

Fix flake8 warnings in server_scripts
  server_scripts/cmb_eth.py
  server_scripts/cmb_pcie.py
  server_scripts/dev_board_pcie.py
  server_scripts/emulate.py
Owners: @jesusvasquez333, @slacrherbst

SmurfPacket: Create new ZeroCopyCreator policy, which doesn't make data copy when creating an object
  include/smurf/core/common/SmurfPacket.h
  src/smurf/core/common/SmurfPacket.cpp
Owners: @jesusvasquez333, @slacrherbst

SmurfPacket: Organize forward declarations
  include/smurf/core/common/SmurfPacket.h
Owners: @jesusvasquez333, @slacrherbst

Add the example variable group definition in the dev_board server startup scripts
  server_scripts/dev_board_eth.py
  server_scripts/dev_board_pcie.py
Owners: @jesusvasquez333, @slacrherbst

SmurfProcessor: bug fixes, fix lock variable names, which were shadowing other variables with the same name
  src/smurf/core/processors/SmurfProcessor.cpp
Owners: @jesusvasquez333, @slacrherbst

SmurfPacket: move the SmurfPacketRO typedef to the BaseTransmitter class where they are used
  include/smurf/core/common/SmurfPacket.h
  include/smurf/core/transmitters/BaseTransmitter.h
Owners: @jesusvasquez333, @slacrherbst

Update smurf-rogue base image to version R2.8.4
  docker/server/Dockerfile
Owners: @jesusvasquez333, @slacrherbst

SmurfProcessor: do no instantiate a fifo device if a transmitter device is not defined
  python/pysmurf/core/devices/_SmurfProcessor.py
Owners: @jesusvasquez333, @slacrherbst

Update SmurfProcessor documentation
  README.CustomDataTransmitter.md
  README.SmurfProcessor.md
Owners: @jesusvasquez333, @slacrherbst

SmurfPacket: remove unused variable from CopyCreator class
  include/smurf/core/common/SmurfPacket.h
  src/smurf/core/common/SmurfPacket.cpp
Owners: @jesusvasquez333, @slacrherbst

SmurfProcessor: Change the fifos to no copy fifos
  python/pysmurf/core/devices/_SmurfProcessor.py
Owners: @jesusvasquez333, @slacrherbst

Move the SmurfPacketRO and SmurfPacketROPtr typedef back to the SmurfPacket.h file, to avoid breaking user code that might be using it outside of a class derivate from BaseTransmitter
  include/smurf/core/common/SmurfPacket.h
  include/smurf/core/transmitters/BaseTransmitter.h
Owners: @jesusvasquez333, @slacrherbst

Revert "SmurfProcessor: Change the fifos to no copy fifos"
  python/pysmurf/core/devices/_SmurfProcessor.py
Owners: @jesusvasquez333, @slacrherbst

Fix releaseGen.py script
  releaseGen.py
Owners: @jesusvasquez333, @slacrherbst

Fix docker build script, enable image push command
  docker/server/build.sh
Owners: @jesusvasquez333, @slacrherbst

Fix releaseGen.py script
  releaseGen.py
Owners: @jesusvasquez333, @slacrherbst

Fix docker build script, enable image push command
  docker/server/build.sh
Owners: @jesusvasquez333, @slacrherbst

Resolves issue622 * plotting bug in plot_tune_summary
  python/pysmurf/client/tune/smurf_tune.py
Owners: @swh76, @eyyoung24

Remove the DualDataBuffers from the BaseTransmitter, as it was preventing the upstream fifos to work correctly. Instead, pass the frame information to the TX callback functions directly
  include/smurf/core/transmitters/BaseTransmitter.h
Owners: @jesusvasquez333, @slacrherbst

BaseTransmitter: Removed unnecessary callback functions. We can call the functions directly
  include/smurf/core/transmitters/BaseTransmitter.h
Owners: @jesusvasquez333, @slacrherbst

SmurfProcessor: Change the fifos to no copy fifos
  python/pysmurf/core/devices/_SmurfProcessor.py
Owners: @jesusvasquez333, @slacrherbst

Revert "SmurfProcessor: Change the fifos to no copy fifos"
  python/pysmurf/core/devices/_SmurfProcessor.py
Owners: @jesusvasquez333, @slacrherbst

SmurfPacket: move the SmurfPacketRO typedef to the BaseTransmitter class where they are used
  include/smurf/core/transmitters/BaseTransmitter.h
Owners: @jesusvasquez333, @slacrherbst

BaseTransmitter: Change the SmurfPacket Creation policy to ZeroCopyCreator
  include/smurf/core/transmitters/BaseTransmitter.h
Owners: @jesusvasquez333, @slacrherbst

Fix typos
  tests/core/README.md
Owners: @jesusvasquez333, @slacrherbst

Move the SmurfPacketRO and SmurfPacketROPtr typedef back to the SmurfPacket.h file, to avoid breaking user code that might be using it outside of a class derivate from BaseTransmitter
  include/smurf/core/transmitters/BaseTransmitter.h
Owners: @jesusvasquez333, @slacrherbst

Add scripts to generate the stable docker image from this repository
  docker/server/Dockerfile
Owners: @jesusvasquez333, @slacrherbst

CI: Use the new build.sh script to generate the pysmurf server images
  .github/workflows/ci-cd.yml
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Fix check_if_private_tag_exist to use the github token correctly
  docker/server/validate.sh
Owners: @jesusvasquez333, @slacrherbst

Trying again with quotes
  docker/server/validate.sh
Owners: @jesusvasquez333, @slacrherbst

Trying using the github token
  .github/workflows/ci-cd.yml
  docker/server/validate.sh
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Fix typo
  docker/server/validate.sh
Owners: @jesusvasquez333, @slacrherbst

Try with a different token
  .github/workflows/ci-cd.yml
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Try using ubuntu-latest
  .github/workflows/ci-cd.yml
Owners: @swh76, @eyyoung24, @jesusvasquez333, @slacrherbst

Add debug info
  docker/server/validate.sh
Owners: @jesusvasquez333, @slacrherbst

.github/CODEOWNERS:

# @swh76 and @eyyoung24 will be the default owners for everything.
# Unless a later match takes precedence, they will be requested
# for review when someone opens a pull request.
*                       @swh76 @eyyoung24

# @jesusvasquez333 and @slacrherbst owns the code related
# to the core, dockers, and startup scripts.
# Only them will be requested for review.
/src/                   @jesusvasquez333 @slacrherbst
/include/               @jesusvasquez333 @slacrherbst
/python/pysmurf/core/   @jesusvasquez333 @slacrherbst
/docker/                @jesusvasquez333 @slacrherbst
/server_scripts/        @jesusvasquez333 @slacrherbst
/tests/core             @jesusvasquez333 @slacrherbst
/releaseGen.py          @jesusvasquez333 @slacrherbst
/README.*.md            @jesusvasquez333 @slacrherbst

# @swh76, @eyyoung24, @jesusvasquez333 and @slacrherbst owns
# the github related scripts.
# All of them will be requested for review.
/.github/               @swh76 @eyyoung24 @jesusvasquez333 @slacrherbst
