Repository slaclab/pysmurf, changes with the labels that .github/labeler.yml gives for each.
All labels: core, client, firmware-change

.github/labeler.yml:

# Add label 'core' to any change to the core-related
# parts of the code
core:
  - src/**/*                    # All C++ source file (currently contains only core code)
  - include/**/*                # All C++ header files (currently contains only core code)
  - python/pysmurf/*            # The files in python/pysmurf (not recursively), common to core and client
  - python/pysmurf/core/**/*    # All python code under pysmurf/core
  - docker/server/**/*          # The pysmurf server docker files
  - server_scripts/**/*         # The server startup scripts
  - tests/**/*                  # This currently contains tests only related to the core
  - README.*.md                 # All the README.*.md files are related to the core functionality
  - smurfConfig.cmake.in        # This file is related to the core code
  - CMakeLists.txt              # This file is related to the core code

# Add label 'client' to any change to the client-related
# parts of the code
client:
  - python/pysmurf/*            # The files in python/pysmurf (not recursively), common to core and client
  - python/pysmurf/client/**/*  # All the python code under pysmurf/client
  - docker/client/**/*          # The pysmurf client docker files
  - cfg_files/**/*              # All the configuration files
  - scratch/**/*                # All the file in the scratch area
  - docs/**/*                   # This contains documentation only for the client code

# Add label 'firmware-change' to any change to the docker server definition file
firmware-change:
  - docker/server/definitions.sh # The docker server definition file

Fixed import for pcie card
  python/pysmurf/core/devices/_PcieCard.py
Labels: core

Remove remaining epics argument in the arg parsing script.
  python/pysmurf/core/server_scripts/Common.py
Labels: core

fix(get_fpga_status): Check JESD on both bays.
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(smurf_tune): Remove deprecated use of new_epics_root.
  python/pysmurf/client/tune/smurf_tune.py
Labels: client

fix(SyncGroup): Crate listener before wait is called.
  python/pysmurf/client/command/sync_group.py
  python/pysmurf/client/util/smurf_util.py
Labels: client

feat(caput/caget): Support index argument.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(caput): Fix bug with execute flag.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(SmurfCommand): Correct register access for RTM SpiMax in rogue 6
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(take_debug_data): remove conversion to ASCII.
  python/pysmurf/client/util/smurf_util.py
Labels: client

Fix base tags
  .github/workflows/test-or-deploy.yml
  docker/client/Dockerfile
  docker/server/Dockerfile
Labels: core, client

fix typo in SmurfDataReceiver
  python/pysmurf/core/utilities/_SmurfDataReceiver.py
Labels: core

SmurfCommandMixin._caput: Log not print kwargs message.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(caput): Cast array types based on register type.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(full_band_ampl_sweep): Remove redundant scaling
  python/pysmurf/client/tune/smurf_tune.py
Labels: client

feat(SmurfCommandMixin._wait_for): Method to wait on variable update.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(SmurfCommand._caput): Ensure index argument is correct type
  python/pysmurf/client/command/smurf_command.py
Labels: client

Attempted fix
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(SmurfBase.C): Fix typo in cryo card init
  python/pysmurf/client/base/base_class.py
Labels: client

fix(_caput): Better handle numpy arrays.
  python/pysmurf/client/command/smurf_command.py
Labels: client

Clean up server docker files
  docker/server/build.sh
Labels: core

fix typos in previous commit
  python/pysmurf/client/util/smurf_util.py
  python/pysmurf/core/roots/Common.py
  python/pysmurf/core/utilities/_SmurfDataReceiver.py
  python/pysmurf/core/utilities/__init__.py
Labels: core, client

fix(smurf_util): Remove errant reference to epics_root.
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(smurf_command): Restore wait arguments to read_all and set_defaults.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(set_defaults_pv): Reduce timeout.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(smurf_command): Correct centerFrequency register name.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(smurf_util): Fix indexing bug.
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(get_fpga_status): remove conversion to ASCII.
  python/pysmurf/client/util/smurf_util.py
Labels: client

Fix ambigous call
  docker/client/scripts/start_client.sh
  python/pysmurf/client/command/smurf_command.py
  src/smurf/core/emulators/StreamDataEmulator.cpp
Labels: core, client

fix:SmurfBase replace errant EPICS syntax.
  python/pysmurf/client/base/base_class.py
Labels: client

fix(SmurfCommandMixin.set_check_jesd): Use _wait_for.
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
Labels: client

feat(SmurfCommandMixin): Restore some of the legacy arguments to caput/caget.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(read_stream_data_daq): Index into value.
  python/pysmurf/client/util/smurf_util.py
Labels: client

Fix reference to GITHUB_TOKEN in docker workflow.
  .github/workflows/test-or-deploy.yml
Labels: none

fix tests
  tests/core/validate_base_tx.py
  tests/core/validate_filter.py
  tests/core/validate_unwrapper.py
Labels: core

Clean up client docker files
  docker/client/Dockerfile
  docker/client/scripts/pysmurf_startup.py
  docker/client/scripts/start_client.sh
Labels: client

feat(caput): Better handling of count argument.
  python/pysmurf/client/command/smurf_command.py
Labels: client

Fix docker version
  docker/server/Dockerfile
Labels: core

Update
  docker/server/Dockerfile
Labels: core

github workflows: bump to ubuntu-latest and python 3.12
  .github/workflows/test-or-deploy.yml
Labels: none

fix:SyncGroup Use new VariableWait function in rogue6.
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/command/sync_group.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
Labels: client
