Repository slaclab/pysmurf, changes with the labels that .github/labeler.yml gives for each.
All labels: core, client, firmware-change

Update
  docker/server/build.sh
Labels: core

update
  CMakeLists.txt
Labels: core

Fix cmake file
  CMakeLists.txt
Labels: core

Save progress
  docker/client/Dockerfile
  docker/server/build.sh
  docker/server/validate.sh
Labels: core, client

Update docker scripts
  docker/client/build.sh
  docker/server/build.sh
Labels: core, client

Fix errors trying to start on real system
  python/pysmurf/core/devices/_PcieCard.py
  python/pysmurf/core/roots/CmbEth.py
Labels: core

Update
  docker/server/scripts/server_common.sh
  docker/server/scripts/start_server.sh
  python/pysmurf/core/devices/_SmurfProcessor.py
  python/pysmurf/core/roots/Common.py
Labels: core

Bug fix updates for rogue v6
  python/pysmurf/core/roots/Common.py
  server_scripts/cmb_eth.py
  server_scripts/cmb_pcie.py
  server_scripts/dev_board_eth.py
  server_scripts/dev_board_pcie.py
  server_scripts/emulate.py
  server_scripts/emulate_local.py
Labels: core

cache
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/command/smurf_command.py
Labels: client

Partial progress
  python/pysmurf/client/command/smurf_command.py
Labels: client

Update changes to caput and caget
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/base/smurf_config.py
  python/pysmurf/client/base/smurf_config_properties.py
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_atca_monitor.py
  python/pysmurf/client/command/smurf_cmd.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/test/conftest.py
  python/pysmurf/client/test/test_loopback.py
  python/pysmurf/client/test/test_resonator.py
  python/pysmurf/core/roots/CmbEth.py
  python/pysmurf/core/roots/CmbPcie.py
  python/pysmurf/core/roots/Common.py
  python/pysmurf/core/roots/DevBoardEth.py
  python/pysmurf/core/roots/DevBoardPcie.py
  python/pysmurf/core/roots/EmulationRoot.py
  server_scripts/cmb_eth.py
  server_scripts/cmb_pcie.py
  server_scripts/dev_board_eth.py
  server_scripts/dev_board_pcie.py
  server_scripts/emulate.py
  server_scripts/emulate_local.py
Labels: core, client

Update
  python/pysmurf/client/command/smurf_command.py
Labels: client

Stage update
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
Labels: client

Handle mismatched types in SmurfCommandMixin._caput.
  python/pysmurf/client/command/smurf_command.py
Labels: client

Fixed import for pcie card
  python/pysmurf/core/devices/_PcieCard.py
Labels: core

Restore as_string option to caget in smurf_command
  python/pysmurf/client/command/smurf_command.py
Labels: client

Fix old register syntax in smurf_command.py
  python/pysmurf/client/command/smurf_command.py
Labels: client

Fix missing import in client.base.base_class
  python/pysmurf/client/base/base_class.py
Labels: client

Fix AMCc register root in base_class.
  python/pysmurf/client/base/base_class.py
Labels: client

Fix missing ] in client.command.smurf_command
  python/pysmurf/client/command/smurf_command.py
Labels: client

Add path for pcie card
  docker/server/Dockerfile
Labels: core

Fix deprecated call to setZeroCopyEn.
  python/pysmurf/core/roots/CmbPcie.py
Labels: core

Fix execution of commands in caput.
  python/pysmurf/client/command/smurf_command.py
Labels: client

Fix import path
  python/pysmurf/core/devices/_PcieCard.py
Labels: core

Fix some incompatible type register writes.
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
Labels: client

Update
  docker/server/Dockerfile
Labels: core

Fix out of range set to EvrV2ChannelReg.
  python/pysmurf/client/base/smurf_control.py
Labels: client

Fixed import for pcie card
  python/pysmurf/core/devices/_PcieCard.py
Labels: core

Attempted fix
  python/pysmurf/client/util/smurf_util.py
Labels: client

Update
  docker/server/Dockerfile
Labels: core

Fix data receivers
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/command/sync_group.py
  python/pysmurf/core/roots/Common.py
  python/pysmurf/core/utilities/_SmurfDataReceiver.py
Labels: core, client

Remove EPICS from CryoCard.
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/command/cryo_card.py
Labels: client

fix(SyncGroup): Crate listener before wait is called.
  python/pysmurf/client/command/sync_group.py
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(SmurfDataReceiver): Convert from numpy bytes array.
  python/pysmurf/core/utilities/_SmurfDataReceiver.py
Labels: core

fix: rename 'Array' registers
  python/pysmurf/client/command/smurf_command.py
Labels: client

bump rogue docker to R3.0.10
  docker/client/Dockerfile
  docker/server/Dockerfile
Labels: core, client

fix(full_band_ampl_sweep): Remove redundant scaling
  python/pysmurf/client/tune/smurf_tune.py
Labels: client

Update docker version
  docker/server/Dockerfile
Labels: core

fix typo in SmurfDataReceiver
  python/pysmurf/core/utilities/_SmurfDataReceiver.py
Labels: core

fix typos in previous commit
  python/pysmurf/client/util/smurf_util.py
  python/pysmurf/core/roots/Common.py
  python/pysmurf/core/utilities/_SmurfDataReceiver.py
  python/pysmurf/core/utilities/__init__.py
Labels: core, client

.github/labeler.yml:

# Add label 'core' to any change to the core-related
# parts of the code
core:
  - src/**/*                    # All C++ source file (currently contains only core code)
  - include/**/*                # All C++ header files (currently contains only core code)
  - python/pysmurf/*            # The files in python/pysmurf (not recursively), common to core and client
  - python/pysmurf/core/**/*    # All python code under pysmurf/core
  - docker/server/**/*          # The pysmurf server docker files
  - server_scripts/**/*         # The server startup scripts
  - tests/**/*                  # This currently contains tests only related to the core
  - README.*.md                 # All the README.*.md files are related to the core functionality
  - smurfConfig.cmake.in        # This file is related to the core code
  - CMakeLists.txt              # This file is related to the core code

# Add label 'client' to any change to the client-related
# parts of the code
client:
  - python/pysmurf/*            # The files in python/pysmurf (not recursively), common to core and client
  - python/pysmurf/client/**/*  # All the python code under pysmurf/client
  - docker/client/**/*          # The pysmurf client docker files
  - cfg_files/**/*              # All the configuration files
  - scratch/**/*                # All the file in the scratch area
  - docs/**/*                   # This contains documentation only for the client code

# Add label 'firmware-change' to any change to the docker server definition file
firmware-change:
  - docker/server/definitions.sh # The docker server definition file
