Repository slaclab/pysmurf, changes with the labels that .github/labeler.yml gives for each.
All labels: core, client, firmware-change

.github/labeler.yml:

# Add label 'core' to any change to the core-related
# parts of the code
core:
  - src/**/*                    # All C++ source file (currently contains only core code)
  - include/**/*                # All C++ header files (currently contains only core code)
  - python/pysmurf/*            # The files in python/pysmurf (not recursively), common to core and client
  - python/pysmurf/core/**/*    # All python code under pysmurf/core
  - docker/server/**/*          # The pysmurf server docker files
  - server_scripts/**/*         # The server startup scripts
  - tests/**/*                  # This currently contains tests only related to the core
  - README.*.md                 # All the README.*.md files are related to the core functionality
  - smurfConfig.cmake.in        # This file is related to the core code
  - CMakeLists.txt              # This file is related to the core code

# Add label 'client' to any change to the client-related
# parts of the code
client:
  - python/pysmurf/*            # The files in python/pysmurf (not recursively), common to core and client
  - python/pysmurf/client/**/*  # All the python code under pysmurf/client
  - docker/client/**/*          # The pysmurf client docker files
  - cfg_files/**/*              # All the configuration files
  - scratch/**/*                # All the file in the scratch area
  - docs/**/*                   # This contains documentation only for the client code

# Add label 'firmware-change' to any change to the docker server definition file
firmware-change:
  - docker/server/definitions.sh # The docker server definition file

flake8: remove redundant nonlocal statement
  python/pysmurf/client/util/pub.py
Labels: client

fix(smurf_tune): Remove remaining scaling of eta scan results.
  python/pysmurf/client/tune/smurf_tune.py
Labels: client

Fix data receivers
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/command/sync_group.py
  python/pysmurf/core/roots/Common.py
  python/pysmurf/core/utilities/_SmurfDataReceiver.py
Labels: core, client

fix(core.utilities.SetupGroups): setPollInterval.
  python/pysmurf/core/utilities/_SetupGroups.py
Labels: core

fix(SmurfDataReceiver): Convert from numpy bytes array.
  python/pysmurf/core/utilities/_SmurfDataReceiver.py
Labels: core

fix(smurf_command): Remove use of SyncGroup in cryo-det wrapper funcs.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(smurf_command): Enforce uint type for amplitude scale.
  python/pysmurf/client/command/smurf_command.py
Labels: client

style: Flake8.
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/command/cryo_card.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/command/sync_group.py
  python/pysmurf/core/roots/Common.py
  python/pysmurf/core/utilities/_SmurfDataReceiver.py
Labels: core, client

fix(set_channel_mask): Force channel mask to be a python list.
  python/pysmurf/client/command/smurf_command.py
Labels: client

bump rogue docker to R3.0.10
  docker/client/Dockerfile
  docker/server/Dockerfile
Labels: core, client

remove print statement from _caget
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix: rename 'Array' registers
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(read_stream_data): Initialise arrays to avoid crash on empty files.
  python/pysmurf/client/util/smurf_util.py
Labels: client

Update docker version
  docker/server/Dockerfile
Labels: core

fix(set/get_streaming_datafile): Remove ASCII conversion.
  python/pysmurf/client/command/smurf_command.py
Labels: client

Fix to smurfutil
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(caput/caget): Log unexpected arguments.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(caput): Simplify type casting logic.
  python/pysmurf/client/command/smurf_command.py
Labels: client

Update docker base
  docker/client/Dockerfile
  docker/server/Dockerfile
Labels: core, client

fix(SyncGroup): Fix bug that causes wait to timeout.
  python/pysmurf/client/command/sync_group.py
Labels: client

fix(CryoCard): Make writing more robust to type casting
  python/pysmurf/client/command/cryo_card.py
Labels: client

fix(SmurfCommand): Set caput/caget log to INFO by default.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(set_data_buffer_size): Remove deprecated args, fix logging.
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(CryoCard): Improve logging and raise error on failed read.
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/command/cryo_card.py
Labels: client

fix(full_band_resp): Log to INFO
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(setup_notches): Send verbose logs to INFO
  python/pysmurf/client/tune/smurf_tune.py
Labels: client

fix(set_dac_axil_addr): Format value to fit enum.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(SmurfDataReceiver): Fix typo that made type tuple.
  python/pysmurf/core/utilities/_SmurfDataReceiver.py
Labels: core

fix(set_filter_disable): Cast type to suppress warning.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(SmurfControl): Don't pass all kwargs to setup
  python/pysmurf/client/base/smurf_control.py
Labels: client

feat(Common): Add a variable to indicate when Root is ready.
  python/pysmurf/core/roots/Common.py
Labels: core

fix(SyncGroup): Remove listeners after.
  python/pysmurf/client/command/sync_group.py
Labels: client

fix(SmurfBase): Access ZMQ client in context manager.
  python/pysmurf/client/base/base_class.py
Labels: client

refactor(SyncGroup): Reimplement with new pyrogue tool.
  python/pysmurf/client/command/sync_group.py
Labels: client

style: Flake8 fixes.
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/command/cryo_card.py
  python/pysmurf/client/command/sync_group.py
Labels: client

crate smurf daq has not much new stuff
  scratch/adroster/daq.ipynb
Labels: client

multichannel and utils
  scratch/adroster/.ipynb_checkpoints/daq-checkpoint.ipynb
  scratch/adroster/.ipynb_checkpoints/multichannel_debug_data_from_shawn-alex-checkpoint.ipynb
  scratch/adroster/.ipynb_checkpoints/multichannel_debug_data_from_shawn-checkpoint.ipynb
  scratch/adroster/.ipynb_checkpoints/utils-checkpoint.ipynb
  scratch/adroster/multichannel_debug_data_from_shawn-alex.ipynb
  scratch/adroster/multichannel_debug_data_from_shawn.ipynb
  scratch/adroster/utils.ipynb
Labels: client

adding adroster rfsoc dir
  scratch/adroster/.ipynb_checkpoints/daq-rfsoc-checkpoint.ipynb
  scratch/adroster/.ipynb_checkpoints/daq-rfsoc-demo-checkpoint.ipynb
  scratch/adroster/.ipynb_checkpoints/daq-rfsoc-demo-playground-checkpoint.ipynb
  scratch/adroster/.ipynb_checkpoints/multichannel-checkpoint.ipynb
  scratch/adroster/.ipynb_checkpoints/rfsoc_20251014_attempt1_alex-checkpoint.ipynb
  scratch/adroster/.ipynb_checkpoints/utils-checkpoint.ipynb
  scratch/adroster/.ipynb_checkpoints/utils2-checkpoint.ipynb
  scratch/adroster/daq-rfsoc-demo-playground.ipynb
  scratch/adroster/daq-rfsoc-demo.ipynb
  scratch/adroster/daq-rfsoc.ipynb
  scratch/adroster/multichannel.ipynb
  scratch/adroster/rfsoc_20251014_attempt1_alex.ipynb
  scratch/adroster/trash/untitled.txt
  scratch/adroster/utils.ipynb
  scratch/adroster/utils.py
  scratch/adroster/utils2.ipynb
  scratch/adroster/utilss/.ipynb_checkpoints/utils-checkpoint.ipynb
  scratch/adroster/utilss/utils.ipynb
Labels: client

fix(smurf_control): Restore shelf_manager adress.
  python/pysmurf/client/base/smurf_control.py
Labels: client

fix(stream_data_on): Don't crash if cryo card is unavailable.
  python/pysmurf/client/util/smurf_util.py
Labels: client
