Repository slaclab/pysmurf, changes with the labels that .github/labeler.yml gives for each.
All labels: core, client, firmware-change

.github/labeler.yml:

# Add label 'core' to any change to the core-related
# parts of the code
core:
  - src/**/*                    # All C++ source file (currently contains only core code)
  - include/**/*                # All C++ header files (currently contains only core code)
  - python/pysmurf/*            # The files in python/pysmurf (not recursively), common to core and client
  - python/pysmurf/core/**/*    # All python code under pysmurf/core
  - docker/server/**/*          # The pysmurf server docker files
  - server_scripts/**/*         # The server startup scripts
  - tests/**/*                  # This currently contains tests only related to the core
  - README.*.md                 # All the README.*.md files are related to the core functionality
  - smurfConfig.cmake.in        # This file is related to the core code
  - CMakeLists.txt              # This file is related to the core code

# Add label 'client' to any change to the client-related
# parts of the code
client:
  - python/pysmurf/*            # The files in python/pysmurf (not recursively), common to core and client
  - python/pysmurf/client/**/*  # All the python code under pysmurf/client
  - docker/client/**/*          # The pysmurf client docker files
  - cfg_files/**/*              # All the configuration files
  - scratch/**/*                # All the file in the scratch area
  - docs/**/*                   # This contains documentation only for the client code

# Add label 'firmware-change' to any change to the docker server definition file
firmware-change:
  - docker/server/definitions.sh # The docker server definition file

fix(server_scripts): Assign three ZMQ ports per slot.
  python/pysmurf/core/server_scripts/Common.py
Labels: core

fix(SmurfBase): Make client persistent but disable monitor thread.
  python/pysmurf/client/base/base_class.py
Labels: client

fix(smurf_command): Typo in _trigger_delay_reg
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(smurf_command): Typo in set_lmk_enable
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(set_evr_trigger_dest_type): Fix wrog enum mapping use.
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(smurf_util.band_off): Use array and don't disable FR.
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(SmurfAtcaMonitor): Fix client and registers.
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/command/smurf_atca_monitor.py
Labels: client

Update base docker image to one that has rogue 6.8.0
  docker/client/Dockerfile
  docker/server/Dockerfile
Labels: core, client

fix(docker/server): Update smurf-pcie to 3.1.1
  docker/server/Dockerfile
Labels: core

Include *.txt files as package-data
  pyproject.toml
Labels: none

Update build badge
  README.md
Labels: none

Update project metadata
  pyproject.toml
Labels: none

Use the older license identifier for Python 3.8 builds
  pyproject.toml
Labels: none

adding new files to adroster
  scratch/adroster/.ipynb_checkpoints/channel_sweep_ex-checkpoint.ipynb
  scratch/adroster/.ipynb_checkpoints/channel_sweep_ex_from_Tristan-checkpoint.ipynb
  scratch/adroster/.ipynb_checkpoints/daq-rfsoc-checkpoint.ipynb
  scratch/adroster/.ipynb_checkpoints/multichannel-checkpoint.ipynb
  scratch/adroster/channel_sweep_ex.ipynb
  scratch/adroster/channel_sweep_ex_from_Tristan.ipynb
  scratch/adroster/daq-rfsoc.ipynb
  scratch/adroster/multichannel.ipynb
Labels: client

Add build-wheel job
  .github/workflows/test-or-deploy.yml
Labels: none

Add deploy-wheel job
  .github/workflows/test-or-deploy.yml
Labels: none

New branch for squat rfsoc'ing.
  scratch/adroster/utils.ipynb
Labels: client

Adding in Alex's recent stuff.
  .gitignore
  scratch/adroster/.ipynb_checkpoints/daq-rfsoc-checkpoint.ipynb
  scratch/adroster/.ipynb_checkpoints/multichannel-checkpoint.ipynb
  scratch/adroster/daq-rfsoc.ipynb
  scratch/adroster/multichannel.ipynb
  scratch/adroster/utils.ipynb
Labels: client

Set unique package name
  .github/workflows/test-or-deploy.yml
  pyproject.toml
Labels: none

Change build-backend from setuptools to hatchling
  .flake8
  .gitattributes
  .gitignore
  MANIFEST.in
  pyproject.toml
  python/pysmurf/__init__.py
  python/pysmurf/_version.py
  setup.cfg
  versioneer.py
Labels: core, client

Fix failing Docker based tests
  docker/client/Dockerfile
  docker/server/Dockerfile
Labels: core, client

Update installation instructions
  README.md
Labels: none

Add PyPI badges
  README.md
Labels: none

Adding dependabot to keep reusable actions automatically up to date.
  .github/dependabot.yml
Labels: none

fix(CmbEth): Pass server_port arg along
  python/pysmurf/core/roots/CmbEth.py
Labels: core

Skip docker-definitions if dependabot.
  .github/workflows/test-or-deploy.yml
Labels: none

Checkout repo before running labeler ; fixes bug in labeler 2->6 upgrade.
  .github/workflows/labeler.yml
Labels: none

Test fix.
  .github/workflows/test-or-deploy.yml
Labels: none
