Repository slaclab/pysmurf, changes with the labels that .github/labeler.yml gives for each.
All labels: core, client, firmware-change

.github/labeler.yml:

# Add label 'core' to any change to the core-related
# parts of the code
core:
  - src/**/*                    # All C++ source file (currently contains only core code)
  - include/**/*                # All C++ header files (currently contains only core code)
  - python/pysmurf/*            # The files in python/pysmurf (not recursively), common to core and client
  - python/pysmurf/core/**/*    # All python code under pysmurf/core
  - docker/server/**/*          # The pysmurf server docker files
  - server_scripts/**/*         # The server startup scripts
  - tests/**/*                  # This currently contains tests only related to the core
  - README.*.md                 # All the README.*.md files are related to the core functionality
  - smurfConfig.cmake.in        # This file is related to the core code
  - CMakeLists.txt              # This file is related to the core code

# Add label 'client' to any change to the client-related
# parts of the code
client:
  - python/pysmurf/*            # The files in python/pysmurf (not recursively), common to core and client
  - python/pysmurf/client/**/*  # All the python code under pysmurf/client
  - docker/client/**/*          # The pysmurf client docker files
  - cfg_files/**/*              # All the configuration files
  - scratch/**/*                # All the file in the scratch area
  - docs/**/*                   # This contains documentation only for the client code

# Add label 'firmware-change' to any change to the docker server definition file
firmware-change:
  - docker/server/definitions.sh # The docker server definition file

revert uneccessary changes
  scratch/shawn/fill_band.py
Labels: client

revert uneccessary changes
  scratch/shawn/fill_band.py
Labels: client

revert uneccessary changes
  python/pysmurf/core/roots/CmbEth.py
Labels: core

revert uneccessary changes
  server_scripts/cmb_pcie.py
Labels: core

fix(caput): Fix bug with execute flag.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(smurf_command): Restore wait arguments to read_all and set_defaults.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(smurf_util): Fix indexing bug.
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(caput): Cast array types based on register type.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(set_channel_mask): Force channel mask to be a python list.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(read_stream_data): Initialise arrays to avoid crash on empty files.
  python/pysmurf/client/util/smurf_util.py
Labels: client

Remove .DS_Store from repository
  .DS_Store
Labels: none

Fixing exceptions with f-strings
  tests/ci/check_so_interface.py
Labels: core

Nodes in body check dict index fix
  tests/ci/check_so_interface.py
Labels: core

remove remaining .DS_Store
  tests/.DS_Store
Labels: core

Upate
  python/pysmurf/core/roots/Common.py
Labels: core

Upgrades to newer base and rogue dockers built on Ubuntu 22.04.
  docker/client/Dockerfile
  docker/server/Dockerfile
Labels: core, client

20.04->22.04
  .github/workflows/test-or-deploy.yml
Labels: none

python 3.8.10->3.8.12 in workflow.
  .github/workflows/test-or-deploy.yml
Labels: none

bump scipy to version 1.7.0.
  docker/client/Dockerfile
Labels: client

Bumping scipy to 1.7.2.
  docker/client/Dockerfile
Labels: client

Try removing version requirements,.
  docker/client/Dockerfile
Labels: client

Must restrict scipy to 1.8.
  docker/client/Dockerfile
Labels: client

Bump workflow to Ubuntu 22.04.
  .github/workflows/test-or-deploy.yml
Labels: none

Bumping workflow python to 3.8.12.
  .github/workflows/test-or-deploy.yml
Labels: none

Flake 8.
  python/pysmurf/core/devices/_PcieCard.py
Labels: core

Bumping rogue docker version to v4.11.12.
  docker/server/Dockerfile
Labels: core

Update README.md
  README.md
Labels: none

Update docker base
  .github/workflows/test-or-deploy.yml
  docker/client/Dockerfile
  docker/server/Dockerfile
  docker/server/build.sh
Labels: core, client

alex adding a helpful file
  scratch/hannah/2025_0818_alex_and_hannah_starting-Copy1.ipynb
Labels: client

droster daq code
  scratch/adroster/daq.ipynb
Labels: client

alex adding contents of hannah directory
  scratch/hannah/.ipynb_checkpoints/2025_0818_alex_and_hannah_starting-Copy1-checkpoint.ipynb
  scratch/hannah/.ipynb_checkpoints/2025_0818_alex_and_hannah_starting-checkpoint.ipynb
  scratch/hannah/.ipynb_checkpoints/KID_meas-checkpoint.py
  scratch/hannah/.ipynb_checkpoints/ResonanceFitter-checkpoint.py
  scratch/hannah/.ipynb_checkpoints/firstsetup-checkpoint.ipynb
  scratch/hannah/.ipynb_checkpoints/secondsetup-checkpoint.ipynb
  scratch/hannah/.ipynb_checkpoints/tkid_v7_4_0_release_testing_20230711-checkpoint.ipynb
  scratch/hannah/2025_0818_alex_and_hannah_starting.ipynb
  scratch/hannah/KID_meas.py
  scratch/hannah/ResonanceFitResult.py
  scratch/hannah/ResonanceFitter.py
  scratch/hannah/firstsetup.ipynb
  scratch/hannah/secondsetup.ipynb
  scratch/hannah/tkid_v7_4_0_release_testing_20230711.ipynb
Labels: client

Convert setup.py to pyproject.toml
  pyproject.toml
Labels: none

Unpin setuptools in build-system definition
  pyproject.toml
Labels: none

Drop license-files property from pyproject
  pyproject.toml
Labels: none

Update docker files
  docker/client/Dockerfile
  docker/server/Dockerfile
Labels: core, client

Fix cmake file
  CMakeLists.txt
  docker/server/Dockerfile
  docker/server/build.sh
Labels: core

Update
  CMakeLists.txt
Labels: core

update
  CMakeLists.txt
Labels: core

Don't attempt to open pcie if not enabled
  python/pysmurf/client/base/base_class.py
Labels: client

Update
  docker/client/Dockerfile
  docker/server/Dockerfile
Labels: core, client
