Repository slaclab/pysmurf, changes with the labels that .github/labeler.yml gives for each.
All labels: core, client, firmware-change

fix:SyncGroup Use new VariableWait function in rogue6.
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/command/sync_group.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix:SmurfCommand Hex/str conversions.
  python/pysmurf/client/command/smurf_command.py
Labels: client

Fix docker version
  docker/server/Dockerfile
Labels: core

Fix to smurfutil
  python/pysmurf/client/util/smurf_util.py
Labels: client

Fix ambigous call
  docker/client/scripts/start_client.sh
  python/pysmurf/client/command/smurf_command.py
  src/smurf/core/emulators/StreamDataEmulator.cpp
Labels: core, client

fix(_caput): Better handle numpy arrays.
  python/pysmurf/client/command/smurf_command.py
Labels: client

remove print statement from _caget
  python/pysmurf/client/command/smurf_command.py
Labels: client

SmurfCommandMixin._caput: Log not print kwargs message.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix:SmurfBase replace errant EPICS syntax.
  python/pysmurf/client/base/base_class.py
Labels: client

feat(SmurfCommandMixin): Restore some of the legacy arguments to caput/caget.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(caput): Fix bug with execute flag.
  python/pysmurf/client/command/smurf_command.py
Labels: client

feat(SmurfCommandMixin._wait_for): Method to wait on variable update.
  python/pysmurf/client/command/smurf_command.py
Labels: client

Fix base tags
  .github/workflows/test-or-deploy.yml
  docker/client/Dockerfile
  docker/server/Dockerfile
Labels: core, client

fix(caput): Cast array types based on register type.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(caput): Simplify type casting logic.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(read_stream_data_daq): Index into value.
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(smurf_tune): Remove remaining scaling of eta scan results.
  python/pysmurf/client/tune/smurf_tune.py
Labels: client

fix(get_fpga_status): remove conversion to ASCII.
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(set_channel_mask): Force channel mask to be a python list.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(smurf_command): Correct centerFrequency register name.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(set/get_streaming_datafile): Remove ASCII conversion.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(take_debug_data): remove conversion to ASCII.
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(smurf_util): Remove errant reference to epics_root.
  python/pysmurf/client/util/smurf_util.py
Labels: client

feat(caput/caget): Support index argument.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(smurf_util): Fix indexing bug.
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(get_fpga_status): Check JESD on both bays.
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(read_stream_data): Initialise arrays to avoid crash on empty files.
  python/pysmurf/client/util/smurf_util.py
Labels: client

fix(set_defaults_pv): Reduce timeout.
  python/pysmurf/client/command/smurf_command.py
Labels: client

feat(caput): Better handling of count argument.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(smurf_tune): Remove deprecated use of new_epics_root.
  python/pysmurf/client/tune/smurf_tune.py
Labels: client

fix(smurf_command): Enforce uint type for amplitude scale.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(caput/caget): Log unexpected arguments.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(smurf_command): Remove use of SyncGroup in cryo-det wrapper funcs.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(smurf_command): Restore wait arguments to read_all and set_defaults.
  python/pysmurf/client/command/smurf_command.py
Labels: client

fix(SmurfCommandMixin.set_check_jesd): Use _wait_for.
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
Labels: client

Remove remaining epics argument in the arg parsing script.
  python/pysmurf/core/server_scripts/Common.py
Labels: core

style: Flake8.
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/command/cryo_card.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/command/sync_group.py
  python/pysmurf/core/roots/Common.py
  python/pysmurf/core/utilities/_SmurfDataReceiver.py
Labels: core, client

Fix reference to GITHUB_TOKEN in docker workflow.
  .github/workflows/test-or-deploy.yml
Labels: none

Update docker base
  docker/client/Dockerfile
  docker/server/Dockerfile
  docker/server/build.sh
Labels: core, client

fix tests
  tests/core/validate_base_tx.py
  tests/core/validate_filter.py
  tests/core/validate_unwrapper.py
Labels: core

.github/labeler.yml:

# Add label 'core' to any change to the core-related
# parts of the code
core:
  - src/**/*                    # All C++ source file (currently contains only core code)
  - include/**/*                # All C++ header files (currently contains only core code)
  - python/pysmurf/*            # The files in python/pysmurf (not recursively), common to core and client
  - python/pysmurf/core/**/*    # All python code under pysmurf/core
  - docker/server/**/*          # The pysmurf server docker files
  - server_scripts/**/*         # The server startup scripts
  - tests/**/*                  # This currently contains tests only related to the core
  - README.*.md                 # All the README.*.md files are related to the core functionality
  - smurfConfig.cmake.in        # This file is related to the core code
  - CMakeLists.txt              # This file is related to the core code

# Add label 'client' to any change to the client-related
# parts of the code
client:
  - python/pysmurf/*            # The files in python/pysmurf (not recursively), common to core and client
  - python/pysmurf/client/**/*  # All the python code under pysmurf/client
  - docker/client/**/*          # The pysmurf client docker files
  - cfg_files/**/*              # All the configuration files
  - scratch/**/*                # All the file in the scratch area
  - docs/**/*                   # This contains documentation only for the client code

# Add label 'firmware-change' to any change to the docker server definition file
firmware-change:
  - docker/server/definitions.sh # The docker server definition file
