Repository slaclab/pysmurf, pull requests merged in 2020-08, with the labels that each got.

#484 Added noise PSD plots to profile_band.
  python/pysmurf/client/command/cryo_card.py
  scratch/eyy/test_scripts/page_template/index.html
  scratch/eyy/test_scripts/profile_band.py
Labels: client, enhancement

#488 Fix set_defaults_pv method to determine if the system configuration sequence ended
  python/pysmurf/client/command/smurf_command.py
Labels: bug, client

#491 IV functions renamed, now using tone_power and nsamp instead of varying names.
  python/pysmurf/client/base/smurf_config_properties.py
  python/pysmurf/client/command/smurf_cmd.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/command/test_sphinx.py
  python/pysmurf/client/debug/smurf_iv.py
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
  scratch/eyy/debug/iv_test.py
  scratch/eyy/test_scripts/profile_band.py
Labels: bug, client

#496 Passing bias_line_resistance from run_iv to analyze_iv
  python/pysmurf/client/debug/smurf_iv.py
Labels: bug, client, enhancement

#494 Stephen's AMC testing script.
  cfg_files/rflab/rflab_smurf_startup_stephen_test.cfg
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_atca_monitor.py
  scratch/stephen/full_band_response_AMCatten.py
Labels: client, enhancement

#501 Adding packaging to requirements.txt.
  requirements.txt
Labels: bug, client

#499 Fix broken link
  README.SmurfProcessor.md
Labels: bug, core

#503 Update reference to the old master branch to main
  README.md
Labels: bug
