Repository slaclab/pysmurf, pull requests merged in 2020-03, with the labels that each got.

#323 Setup Github workflow to auto label PR as `core` or `client`
  .github/labeler.yml
  .github/workflows/label.yml
Labels: enhancement

#327 Adding and cleaning up comments - also fixes bug in take_noise_psd plot label
  python/pysmurf/client/debug/smurf_iv.py
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client, enhancement, interface-change

#325 Verify that all PRs are labeled with `bug`, `enhancement`, or `interface-change`
  .github/workflows/verify-pr-labels.yml
Labels: enhancement

#319 Add release notes generation script
  .travis.yml
  releaseGen.py
Labels: enhancement

#333 Extract issue references from PR body
  releaseGen.py
Labels: enhancement

#328 Scratch update for eyy - bug in profile_band loading of .npy files
  scratch/eyy/test_scripts/profile_band.py
Labels: bug, client

#308 Issue306 - fixing bias bump - introduce estimate_bias_voltage function that estimates where to bias using an input IV curve
  python/pysmurf/client/debug/smurf_iv.py
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client, enhancement

#332 Define code owners
  .github/CODEOWNERS
Labels: enhancement

#334 Fix `pysmurf-client` docker image, by adding the cryo user's home directory
  docker/client/Dockerfile
  docker/server/Dockerfile
Labels: bug, client, core

#336 Bug fix: trying to set a register to an empty array is not supported
  python/pysmurf/client/base/smurf_control.py
Labels: bug, client

#342 Fixes setup.py to reflect rogue4 change in pysmurf code directory structure
  setup.cfg
  setup.py
Labels: bug

#343 Changing default of high_current_mode in overbias_tes
  python/pysmurf/client/debug/smurf_iv.py
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client, interface-change

#344 Fixes location of version_file in pysmurf package setup.cfg
  setup.cfg
Labels: bug

#350 Fixes readthedocs auto builds
  docs/base.rst
  docs/command.rst
  docs/debug.rst
  docs/index.rst
  docs/tune.rst
  docs/util.rst
  requirements.txt
Labels: bug, client

#354 Fixes the noise_vs_tone function. The plotting routine had a bug in it which would cause it to crash.
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
  scratch/eyy/test_scripts/profile_band.py
Labels: bug, client

#360 Add Ed and Shawn as code owner of GitHub files
  .github/CODEOWNERS
Labels: enhancement

#347 Crate issues and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/something-else.md
  .github/pull_request_template.md
Labels: enhancement

#339 Fix the `releaseGen.py` to catch issues numbers that are followed by a dot.
  releaseGen.py
Labels: bug

#357 Fixing offline code for reading ADC/DAC data.
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
Labels: client, enhancement

#361 Add core & user guide to pysmurf autodocs
  docs/client/base.rst
  docs/client/command.rst
  docs/client/debug.rst
  docs/client/tune.rst
  docs/client/util.rst
  docs/conf.py
  docs/core/conventers.rst
  docs/core/counters.rst
  docs/core/devices.rst
  docs/core/emulators.rst
  docs/core/roots.rst
  docs/core/server_scripts.rst
  docs/core/transmitters.rst
  docs/core/utilities.rst
  docs/index.rst
  docs/user/configuration.rst
  docs/user/dependencies.rst
  docs/user/installation.rst
  docs/user/intro.rst
  docs/user/quickstart.rst
  python/pysmurf/client/base/smurf_control.py
Labels: client, enhancement

#367 Fixes the `noise_vs_tone` analysis script - wasn't handling channel assignment properly
  python/pysmurf/client/debug/smurf_noise.py
Labels: bug, client
