Repository slaclab/pysmurf, pull requests merged in 2020-10, with the labels that each got.

#527 Thermal test scripts and bug fixes for long Westpak run with 6x carriers.
  cfg_files/rflab/experiment_so_westpak_6carrier_14day_test.cfg
  cfg_files/rflab/rflab_smurf_startup.cfg
  cfg_files/rflab/rflab_smurf_startup_stephen_test.cfg
  cfg_files/rflab/smurf_startup_6carrier.cfg
  cfg_files/rflab/smurf_startup_so_westpak_6carrier_14day_test.cfg
  cfg_files/rflab/smurf_startup_thermal_test.cfg
  python/pysmurf/client/command/smurf_atca_monitor.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
  scratch/shawn/fill_band.py
  scratch/shawn/full_band_response.py
  scratch/shawn/logmemory.py
  scratch/shawn/logpackets.py
  scratch/shawn/logserver.py
  scratch/shawn/plot_temperatures.sh
  scratch/shawn/thermal_test.py
  scratch/stephen/full_band_response_AMCatten.py
Labels: client, enhancement

#516 Use S.get_number_sub_bands() in fill_band.py
  scratch/shawn/fill_band.py
Labels: client

#509 Expanded refPhaseDelay config file limits from 4 to 5 bits.
  python/pysmurf/client/base/smurf_config.py
Labels: bug, client

#533 changing do_plot to make_plot in smurf_util
  python/pysmurf/client/util/smurf_util.py
Labels: client, enhancement

#532 Fixing doc string for get_tes_bias_bipolar_array
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client

#530 Swapping UC/DC att call at beginning of estimate_phase_delay
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client

#536 Fix SIGABRT on DualDataBuffer destruction
  include/smurf/core/transmitters/DualDataBuffer.h
  src/smurf/core/transmitters/DualDataBuffer.cpp
Labels: bug, core
