Repository slaclab/pysmurf, pull requests merged in 2020-07, with the labels that each got.

#460 Move all the initialization routines to `server_common.sh`
  docker/server/scripts/server_common.sh
  docker/server/scripts/start_server.sh
Labels: core, enhancement

#461 Catch rogue-level exception during configuration
  docker/server/Dockerfile
  python/pysmurf/core/devices/_SmurfApplication.py
  python/pysmurf/core/roots/Common.py
Labels: core, enhancement

#473 Fw refactor
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client

#477 Update smurf-rogue base image to version R2.8.1
  docker/server/Dockerfile
Labels: bug, core

#474 Use new registers which give the state of the configuration process during setup
  cfg_files/rflab/rflab_smurf_startup.cfg
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
  scratch/shawn/rf_deterministic_latency.py
  scratch/shawn/scripts/shawnhammer.sh
  scratch/shawn/scripts/shawnhammerfunctions.sh
Labels: client, enhancement

#445 loopback mode for profile_band, eta_phase estimator using IQ noise, fast data taking example scripts
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
  requirements.txt
  scratch/eyy/noise/noise_vs_fr_freq.py
  scratch/eyy/test_scripts/nonstop_profile_band.py
  scratch/eyy/test_scripts/profile_band.py
  scratch/eyy/tuning/analyze_compare_tracking_rate.py
  scratch/eyy/tuning/compare_tracking_rate.py
Labels: client, enhancement
