Repository slaclab/pysmurf, pull requests merged in 2020-04, with the labels that each got.

#370 Adding high_current_mode bool to identify_bias_group
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
Labels: client, enhancement

#372 Adding overbias_wait to noise_vs_bias
  cfg_files/stanford/experiment_fp30_cc02-03_lbOnlyBay0.cfg
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/util/smurf_util.py
Labels: client, enhancement

#373 Fix noise_vs_bias band requirement, offline mode of analyze_noise_vs_bias, play_tes_bipolar_waveform non-continuous, n_samp for read_stream_data
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/debug/smurf_iv.py
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/util/smurf_util.py
  scratch/eyy/find_large_chan_num.py
  scratch/shawn/analyze_noise_vs_bias_offline.py
Labels: bug, client, enhancement, interface-change

#384 Introduce optional variable to turn off phase highlighting in find_peak plotting
  python/pysmurf/client/tune/smurf_tune.py
  scratch/eyy/noise/noise_summary_stanford_pole.py
Labels: client, enhancement

#389 Resolves all sphinx_build errors and warnings, upgrades schema to 0.7.1, adds new SmurfConfigPropertiesMixin, expands documentation to include core code and user guide outline.
  docs/client/base.rst
  docs/conf.py
  docs/index.rst
  docs/user/developer.rst
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/base/logger.py
  python/pysmurf/client/base/schema.py
  python/pysmurf/client/base/smurf_config.py
  python/pysmurf/client/base/smurf_config_properties.py
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/cryo_card.py
  python/pysmurf/client/command/smurf_atca_monitor.py
  python/pysmurf/client/command/smurf_cmd.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/debug/smurf_iv.py
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/pub.py
  python/pysmurf/client/util/smurf_util.py
  python/pysmurf/client/util/tools.py
  python/pysmurf/core/devices/_PcieCard.py
  python/pysmurf/core/emulators/_DataFromFile.py
  python/pysmurf/core/transmitters/_DataToFile.py
  python/pysmurf/core/utilities/_SetupGroups.py
  python/pysmurf/core/utilities/_SmurfPublisher.py
Labels: client, core, enhancement, interface-change

#392 Add travis job to test documentation build for errors and warnings
  .travis.yml
  docs/conf.py
  python/pysmurf/core/devices/_PcieCard.py
Labels: client, core, enhancement

#390 Moves the running part of `profile_band` into a callable function.
  scratch/eyy/test_scripts/nonstop_profile_band.py
  scratch/eyy/test_scripts/profile_band.py
Labels: client, enhancement

#380 Use list instead of np.array in read_stream_data for speed up.
  python/pysmurf/client/util/smurf_util.py
Labels: client, enhancement

#400 Adding readthedocs to readme
  README.md
Labels: enhancement

#401 Eliminates utf8 byte array return type option for str register gets.
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/tools.py
Labels: client, enhancement

#403 Determine which bays are on from hardware, not pysmurf cfg.
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
Labels: client, enhancement

#396 Fixes docstrings to have valid reStructuredText (RST)
  .flake8
  .travis.yml
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/debug/smurf_iv.py
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
  python/pysmurf/core/devices/_SmurfProcessor.py
Labels: client, core, enhancement

#409 Changed publish location for mask.txt file
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client

#410 Added streaming context manager
  python/pysmurf/client/util/smurf_util.py
Labels: client, enhancement

#317 Publisher actions
  python/pysmurf/client/debug/smurf_iv.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/pub.py
  python/pysmurf/client/util/smurf_util.py
  scratch/jack/pub_listener.py
Labels: client, enhancement, output/log

#411 Merging most recent Cornell configuration into Rogue3.
  cfg_files/cornell/cornell_smurf_startup.cfg
  cfg_files/cornell/experiment_cornell.cfg
  scratch/shawn/full_band_response.py
  scratch/shawn/scripts/init_cornell.py
Labels: enhancement

#378 Add the `schema` python package to the `pysmurf.client` docker image
  docker/client/Dockerfile
  docs/client/base.rst
  python/pysmurf/client/base/smurf_config.py
  requirements.txt
Labels: client, enhancement
