Repository slaclab/pysmurf, pull requests merged in 2020-06, with the labels that each got.

#440 Backwards compatibility fix for which_bays
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client

#441 Revert "Backwards compatibility fix for which_bays"
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client

#438 Server hardware auto-detection: abort server startup if unsupported HW is detected
  README.Docker.md
  docker/server/scripts/server_common.sh
  docker/server/scripts/start_server.sh
Labels: core, enhancement

#394 Reorders imports in compliance with pep8.
  .flake8
  .travis.yml
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/command/smurf_cmd.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/debug/smurf_iv.py
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/test/test_loopback.py
  python/pysmurf/client/test/test_resonator.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/SmurfFileReader.py
  python/pysmurf/client/util/pub.py
  python/pysmurf/client/util/smurf_util.py
  python/pysmurf/client/watchdog/JesdWatchdog.py
  python/pysmurf/core/conventers/_Header2Smurf.py
  python/pysmurf/core/counters/_FrameStatistics.py
  python/pysmurf/core/devices/_PcieCard.py
  python/pysmurf/core/devices/_SmurfApplication.py
  python/pysmurf/core/devices/_SmurfProcessor.py
  python/pysmurf/core/devices/_UdpReceiver.py
  python/pysmurf/core/emulators/_DataFromFile.py
  python/pysmurf/core/emulators/_StreamDataEmulatorI16.py
  python/pysmurf/core/emulators/_StreamDataEmulatorI32.py
  python/pysmurf/core/emulators/_StreamDataSource.py
  python/pysmurf/core/roots/CmbEth.py
  python/pysmurf/core/roots/CmbPcie.py
  python/pysmurf/core/roots/Common.py
  python/pysmurf/core/roots/DevBoardEth.py
  python/pysmurf/core/roots/DevBoardPcie.py
  python/pysmurf/core/roots/EmulationRoot.py
  python/pysmurf/core/server_scripts/Common.py
  python/pysmurf/core/transmitters/_BaseTransmitter.py
  python/pysmurf/core/transmitters/_DataToFile.py
Labels: client, core, enhancement

#442 Fixing which_bays backwards compatibility
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client

#452 Adds test script to help check for deterministic latency & fixes script_to_run bug in shawnhammer.
  scratch/shawn/deterministic_latency.py
  scratch/shawn/full_band_response.py
  scratch/shawn/scripts/loop.sh
  scratch/shawn/scripts/shawnhammer.sh
Labels: client, enhancement

#448 Optimize performance of the data processing code
  include/smurf/core/common/Timer.h
  include/smurf/core/processors/SmurfProcessor.h
  python/pysmurf/core/devices/_PcieCard.py
  python/pysmurf/core/emulators/_DataFromFile.py
  src/smurf/core/processors/SmurfProcessor.cpp
  tests/profile_smurf_processor.py
  tests/validate_filter.py
Labels: core, enhancement

#456 Add checks and fixes to help solve configuration issues
  docker/server/scripts/server_common.sh
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/core/roots/Common.py
Labels: client, core, enhancement

#454 Migrates remaining pysmurf configuration parameters into the SmurfConfigPropertiesMixin class as properties.
  .flake8
  docs/conf.py
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/base/smurf_config.py
  python/pysmurf/client/base/smurf_config_properties.py
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/debug/smurf_iv.py
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
  scratch/shawn/deterministic_latency.py
Labels: client, enhancement

#451 Fixes wrong hardcoded clock rate in get_flux_ramp_freq, adds docstrings to get_flux_ramp_freq and set_flux_ramp_freq.
  cfg_files/stanford/fp30_smurf_startup.cfg
  python/pysmurf/client/command/smurf_command.py
Labels: bug, client

#458 Move the `start_server.sh` argument parsing and usage function to `server_common.sh`
  docker/server/scripts/server_common.sh
  docker/server/scripts/start_server.sh
Labels: core, enhancement

#459 Update elastic buffer check, and add new variable `SystemConfigured`
  python/pysmurf/core/devices/_SmurfApplication.py
  python/pysmurf/core/roots/Common.py
Labels: core, enhancement
