Repository slaclab/pysmurf, pull requests merged in 2020-05, with the labels that each got.

#422 Adding scaling relation for faster frequencies in play_sine_tes
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client

#420 Comprehensive docstrings for SmurfConfig class.
  .flake8
  .travis.yml
  python/pysmurf/client/base/logger.py
  python/pysmurf/client/base/schema.py
  python/pysmurf/client/base/smurf_config.py
  python/pysmurf/client/base/smurf_config_properties.py
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_atca_monitor.py
  python/pysmurf/client/command/smurf_cmd.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/debug/smurf_iv.py
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/listen.py
  python/pysmurf/client/util/pub.py
  python/pysmurf/client/util/smurf_util.py
  python/pysmurf/client/util/tools.py
  python/pysmurf/client/watchdog/JesdWatchdog.py
  python/pysmurf/core/devices/_PcieCard.py
  python/pysmurf/core/roots/Common.py
  python/pysmurf/core/utilities/_SmurfPublisher.py
Labels: client, core, enhancement

#429 pysmurf cfg file can be specified in smurf_startup.cfg, no longer requiring an init script.
  cfg_files/stanford/fp30_smurf_startup.cfg
  python/pysmurf/client/command/smurf_cmd.py
  python/pysmurf/client/debug/smurf_iv.py
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
  scratch/shawn/scripts/shawnhammer.sh
  scratch/shawn/scripts/shawnhammerfunctions.sh
  scratch/shawn/tune_1000x_nist.py
Labels: client, enhancement

#430 Fixes readthedocs badge and docstring convention note in README.
  README.md
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/core/emulators/_DataFromFile.py
Labels: bug, client, core

#436 Fixing a couple of fstrings with missing fs
  python/pysmurf/client/tune/smurf_tune.py
Labels: bug, client

#428 Create new rogue variable `EnabledBays` with a list of enabled bays
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
  python/pysmurf/core/devices/_SmurfApplication.py
  python/pysmurf/core/roots/CmbEth.py
  python/pysmurf/core/roots/CmbPcie.py
  python/pysmurf/core/roots/Common.py
Labels: client, core, enhancement
