Repository slaclab/pysmurf, pull requests merged in 2020-12, with the labels that each got.

#560 Migrate CI/CD script from Travis to GitHub Actions
  .github/workflows/ci-cd.yml
  .travis.yml
  README.Docker.md
  README.md
Labels: core, enhancement

#566 Github Actions: Fix release generation script, which was still referencing Travis env vars
  .github/workflows/ci-cd.yml
  .github/workflows/label.yml
  .github/workflows/verify-pr-labels.yml
  releaseGen.py
Labels: bug

#564 Update smurf-rogue base image to version R2.8.2
  docker/server/Dockerfile
Labels: bug, core

#565 Fix mutex lock scopes related to the unwrapper data
  src/smurf/core/processors/SmurfProcessor.cpp
Labels: bug, core

#567 Add more restrictions to the find method used to check if `JesdHealth` exists
  python/pysmurf/core/roots/Common.py
Labels: bug, core

#573 Pin version of the python packages used in the client docker image
  docker/client/Dockerfile
Labels: client, enhancement

#572 Remove local copy of the `schema` python package
  python/pysmurf/client/base/schema.py
  python/pysmurf/client/base/smurf_config.py
Labels: client, enhancement

#570 Set the type of the `FrameCnt` local variable to `UInt64`
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/core/counters/_FrameStatistics.py
Labels: bug, client, core, interface-change

#569 Disable insertion of TES bias values in the SMuRF packet header in SW
  README.SmurfProcessor.md
  include/smurf/core/conventers/Header2Smurf.h
  python/pysmurf/core/conventers/_Header2Smurf.py
  python/pysmurf/core/devices/_SmurfProcessor.py
  python/pysmurf/core/roots/Common.py
  server_scripts/dev_board_eth.py
  server_scripts/dev_board_pcie.py
  server_scripts/emulate.py
  src/smurf/core/conventers/Header2Smurf.cpp
Labels: core, enhancement, interface-change

#552 PySmurf should never set TestBiasDacCtrlRegCh to 0x0
  python/pysmurf/client/command/smurf_command.py
Labels: bug, client

#577 SMuRF header: Use Unix Epoch time for word 6
  README.SmurfPacket.md
  include/smurf/core/common/Helpers.h
Labels: core, enhancement, interface-change

#578 Fix the GitHub token used during the generation of release notes
  .github/workflows/ci-cd.yml
Labels: bug

#579 Fix GitHub Action job used to generate release notes
  .github/workflows/ci-cd.yml
Labels: bug
