Repository slaclab/pysmurf, pull requests merged in 2020-11, with the labels that each got.

#539 RTM reset
  python/pysmurf/client/command/smurf_command.py
Labels: client, enhancement

#547 Change register_file default
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client

#537 Issue524
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
Labels: client, enhancement

#548 Adding flag to skip IV analysis functions after running S.run_iv()
  python/pysmurf/client/debug/smurf_iv.py
Labels: client, enhancement

#542 Resolving bugs in analyze_noise_vs_bias
  python/pysmurf/client/debug/smurf_noise.py
Labels: bug, client

#550 Critical fix for decode_data function that eliminates glitching seen at NIST.
  cfg_files/nist/cmb/experiment_nistcmb_cc02-02_hbOnlyBay0.cfg
  cfg_files/nist/cmb/experiment_nistcmb_cc02-02_lbOnlyBay0.cfg
  cfg_files/nist/cmb/nist_cmb_smurf_startup.cfg
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client

#555 Fix for resetting RF DACs after first setup in latest software versions.
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
Labels: bug, client

#557 Fixes bug that was causing find_freq to crash if not given a start/stop_freq or subband arg.
  cfg_files/nist/cmb/experiment_nistcmb_cc02-02_lbOnlyBay0.cfg
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/tune/smurf_tune.py
Labels: bug, client

#562 Update version of the `verify-pr-label-action` action to support PRs from forks
  .github/workflows/verify-pr-labels.yml
Labels: enhancement
