Repository slaclab/pysmurf, pull requests merged in 2021-02, with the labels that each got.

#599 Update `set_default_pv` to handle the new `RuntimeError` exception
  python/pysmurf/client/command/smurf_command.py
Labels: bug, client

#602 Adding function for finding probe tone gap
  python/pysmurf/client/util/smurf_util.py
Labels: client

#597 Updating smurf_cmd.py
  cfg_files/stanford/experiment_fp31_cc03-02_lbOnlyBay0.cfg
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_cmd.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
Labels: client

#604 Adds a few register_file calls for noise plots
  python/pysmurf/client/debug/smurf_noise.py
Labels: bug, client

#606 Fixed no_dir error during setup
  python/pysmurf/client/base/smurf_control.py
Labels: bug, client

#553 Add external trigger (from timing system) to the downsampler
  README.SmurfProcessor.md
  include/smurf/core/processors/SmurfProcessor.h
  python/pysmurf/core/devices/_SmurfProcessor.py
  src/smurf/core/processors/SmurfProcessor.cpp
Labels: core, enhancement, interface-change

#593 Smurf Server Publisher modifications
  python/pysmurf/core/utilities/_SmurfPublisher.py
Labels: core, enhancement, interface-change

#607 Fixes #605.
  python/pysmurf/client/debug/smurf_iv.py
Labels: client, enhancement

#613 Change units in read_stream_data
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client

#615 Update smurf-rogue base image to version R2.8.3
  docker/server/Dockerfile
Labels: bug, core
