Repository slaclab/pysmurf, pull requests merged in 2021-07, with the labels that each got.

#663 speed up make_freq_mask
  python/pysmurf/client/util/smurf_util.py
Labels: client, enhancement

#665 Adds data_path_id to SmurfControl Args
  python/pysmurf/client/base/smurf_control.py
Labels: bug, client

#666 Update code owners list
  .github/CODEOWNERS
Labels: enhancement
