Repository slaclab/pysmurf, pull requests merged in 2021-05, with the labels that each got.

#639 Generate stable docker images from this repository
  .github/labeler.yml
  .github/workflows/ci-cd.yml
  README.Docker.md
  docker/server/.gitignore
  docker/server/Dockerfile
  docker/server/build.sh
  docker/server/definitions.sh
  docker/server/validate.sh
  releaseGen.py
Labels: core, enhancement, firmware-change

#640 Generate stable docker images from this repository (to develop)
  .github/labeler.yml
  .github/workflows/ci-cd.yml
  README.Docker.md
  docker/server/.gitignore
  docker/server/Dockerfile
  docker/server/build.sh
  docker/server/definitions.sh
  docker/server/validate.sh
  releaseGen.py
Labels: core, enhancement, firmware-change

#641 Fix drop frames to the external transmitters devices
  .github/workflows/ci-cd.yml
  README.CustomDataTransmitter.md
  README.SmurfProcessor.md
  cfg_files/stanford/experiment_fp31_cc03-02_lbOnlyBay0.cfg
  docker/server/Dockerfile
  include/smurf/core/common/SmurfPacket.h
  include/smurf/core/transmitters/BaseTransmitter.h
  include/smurf/core/transmitters/DualDataBuffer.h
  python/pysmurf/client/base/smurf_config.py
  python/pysmurf/client/base/smurf_config_properties.py
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/command/test_sphinx.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
  python/pysmurf/core/devices/_SmurfProcessor.py
  python/pysmurf/core/transmitters/_BaseTransmitter.py
  server_scripts/cmb_eth.py
  server_scripts/cmb_pcie.py
  server_scripts/dev_board_eth.py
  server_scripts/dev_board_pcie.py
  server_scripts/emulate.py
  src/smurf/core/common/SmurfPacket.cpp
  src/smurf/core/processors/SmurfProcessor.cpp
  src/smurf/core/transmitters/BaseTransmitter.cpp
  src/smurf/core/transmitters/CMakeLists.txt
  src/smurf/core/transmitters/DualDataBuffer.cpp
  tests/core/README.md
  tests/core/profile_smurf_processor.py
  tests/core/validate_base_tx.py
  tests/core/validate_filter.py
  tests/core/validate_unwrapper.py
Labels: bug, client, core

#642 Fix drop frames to the external transmitters devices (to develop)
  .github/workflows/ci-cd.yml
  README.CustomDataTransmitter.md
  README.SmurfProcessor.md
  docker/server/Dockerfile
  include/smurf/core/common/SmurfPacket.h
  include/smurf/core/transmitters/BaseTransmitter.h
  include/smurf/core/transmitters/DualDataBuffer.h
  python/pysmurf/core/devices/_SmurfProcessor.py
  python/pysmurf/core/transmitters/_BaseTransmitter.py
  server_scripts/cmb_eth.py
  server_scripts/cmb_pcie.py
  server_scripts/dev_board_eth.py
  server_scripts/dev_board_pcie.py
  server_scripts/emulate.py
  src/smurf/core/common/SmurfPacket.cpp
  src/smurf/core/processors/SmurfProcessor.cpp
  src/smurf/core/transmitters/BaseTransmitter.cpp
  src/smurf/core/transmitters/CMakeLists.txt
  src/smurf/core/transmitters/DualDataBuffer.cpp
  tests/core/README.md
  tests/core/profile_smurf_processor.py
  tests/core/validate_base_tx.py
  tests/core/validate_filter.py
  tests/core/validate_unwrapper.py
Labels: bug, core

#643 Update FW to version v1.0.5 (8ccb67e)
  docker/server/definitions.sh
Labels: bug, core, firmware-change

#644 Update FW to version v1.0.5 (8ccb67e) (to develop)
  docker/server/definitions.sh
Labels: bug, core, firmware-change

#645 Revert "Fix drop frames to the external transmitters devices"
  .github/workflows/ci-cd.yml
  README.CustomDataTransmitter.md
  README.SmurfProcessor.md
  cfg_files/stanford/experiment_fp31_cc03-02_lbOnlyBay0.cfg
  docker/server/Dockerfile
  include/smurf/core/common/SmurfPacket.h
  include/smurf/core/transmitters/BaseTransmitter.h
  include/smurf/core/transmitters/DualDataBuffer.h
  python/pysmurf/client/base/smurf_config.py
  python/pysmurf/client/base/smurf_config_properties.py
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/command/test_sphinx.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
  python/pysmurf/core/devices/_SmurfProcessor.py
  python/pysmurf/core/transmitters/_BaseTransmitter.py
  server_scripts/cmb_eth.py
  server_scripts/cmb_pcie.py
  server_scripts/dev_board_eth.py
  server_scripts/dev_board_pcie.py
  server_scripts/emulate.py
  src/smurf/core/common/SmurfPacket.cpp
  src/smurf/core/processors/SmurfProcessor.cpp
  src/smurf/core/transmitters/BaseTransmitter.cpp
  src/smurf/core/transmitters/CMakeLists.txt
  src/smurf/core/transmitters/DualDataBuffer.cpp
  tests/core/README.md
  tests/core/profile_smurf_processor.py
  tests/core/validate_base_tx.py
  tests/core/validate_filter.py
  tests/core/validate_unwrapper.py
Labels: bug, client, core

#647 Fix drop frames to the external transmitters devices
  .github/workflows/ci-cd.yml
  README.CustomDataTransmitter.md
  README.SmurfProcessor.md
  docker/server/Dockerfile
  include/smurf/core/common/SmurfPacket.h
  include/smurf/core/transmitters/BaseTransmitter.h
  include/smurf/core/transmitters/DualDataBuffer.h
  python/pysmurf/core/devices/_SmurfProcessor.py
  python/pysmurf/core/transmitters/_BaseTransmitter.py
  server_scripts/cmb_eth.py
  server_scripts/cmb_pcie.py
  server_scripts/dev_board_eth.py
  server_scripts/dev_board_pcie.py
  server_scripts/emulate.py
  src/smurf/core/common/SmurfPacket.cpp
  src/smurf/core/processors/SmurfProcessor.cpp
  src/smurf/core/transmitters/BaseTransmitter.cpp
  src/smurf/core/transmitters/CMakeLists.txt
  src/smurf/core/transmitters/DualDataBuffer.cpp
  tests/core/README.md
  tests/core/profile_smurf_processor.py
  tests/core/validate_base_tx.py
  tests/core/validate_filter.py
  tests/core/validate_unwrapper.py
Labels: bug, core

#650 Update FW to version v1.0.6 (8ccb67e)
  docker/server/definitions.sh
Labels: bug, core, firmware-change

#636 TKID mixin file for TKID specific functions
  python/pysmurf/client/util/tkid_util.py
Labels: client

#657 Adds wrapper functions in smurf_commands.py for setting/getting filter for streaming data. Adds convenience functions in smurf_utils.py for setting/getting filter and its gain
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
Labels: client, enhancement

#655 Adding config_file documentation and phase flipping optional variable in find_freq
  README.config_file.md
  cfg_files/b33/experiment_2xLB_testing_Feb2021.cfg
  cfg_files/b33/experiment_b33_lbOnlyBay0.cfg
  cfg_files/b33/experiment_b33_lbOnlyBay0_flip_hemt_polarity.cfg
  cfg_files/b33/smurf_startup.cfg
  cfg_files/b33/smurf_startup_c03-15.cfg
  cfg_files/template/template.cfg
  python/pysmurf/client/tune/smurf_tune.py
  scratch/eyy/noise/princeton_phi0.py
Labels: client, core, enhancement
