Repository slaclab/pysmurf, pull requests merged in 2021-04, with the labels that each got.

#623 Band delay us
  cfg_files/stanford/experiment_fp31_cc03-02_lbOnlyBay0.cfg
  python/pysmurf/client/base/smurf_config.py
  python/pysmurf/client/base/smurf_config_properties.py
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/command/test_sphinx.py
  python/pysmurf/client/tune/smurf_tune.py
  python/pysmurf/client/util/smurf_util.py
Labels: client, enhancement, interface-change

#625 Add predataEmulator:Disable hooks
  python/pysmurf/client/command/smurf_command.py
Labels: client, enhancement

#628 Tkid square wave
  python/pysmurf/client/util/smurf_util.py
  scratch/yuka/get_sigma_full_band_resp_ratios.py
  scratch/yuka/loopback_test.py
  scratch/yuka/page_template/index.html
  scratch/yuka/page_template/scripts/pager.css
  scratch/yuka/page_template/scripts/pager.js
  scratch/yuka/page_template/style.css
Labels: client

#631 tuneFilePath not being written
  python/pysmurf/client/tune/smurf_tune.py
Labels: bug, client

#632 fixes the payload size issue by replacing the manual determination of the payload size
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client

#634 Registers debug dat file with publisher
  python/pysmurf/client/util/smurf_util.py
Labels: bug, client
