Repository slaclab/pysmurf, pull requests merged in 2021-01, with the labels that each got.

#584 Add `SmurfProcessor` filter and unwrapper tests to the Github Action pysmurf core CI tests
  .github/CODEOWNERS
  .github/workflows/ci-cd.yml
  tests/core/README.md
  tests/core/profile_smurf_processor.py
  tests/core/validate_filter.py
  tests/core/validate_unwrapper.py
Labels: core, enhancement

#585 Bug fix: During `setup()`, check if `set_defaults_pv` succeeded before continue with setup.
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/core/roots/Common.py
  scratch/eyy/test_scripts/profile_band.py
Labels: bug, client, core

#581 pre/post data emulator
  python/pysmurf/client/base/base_class.py
  python/pysmurf/client/command/smurf_command.py
Labels: client, enhancement

#583 Fix drop of processed frames into data files and custom transmitters, and improve performance
  src/smurf/core/processors/SmurfProcessor.cpp
Labels: bug, core, enhancement

#587 Issue586 - Changing name of NEI_to_NEP to get_NEI_to_NEP_factor
  python/pysmurf/client/debug/smurf_noise.py
Labels: client, enhancement

#595 Bug in emulator period data type handling
  python/pysmurf/client/command/smurf_command.py
Labels: bug, client

#590 Adding retry attempt to caget
  python/pysmurf/client/command/smurf_command.py
Labels: client, enhancement
