Repository slaclab/pysmurf, pull requests merged in 2022-02, with the labels that each got.

#704 Fix automated access to cryo-det
  .github/workflows/test-or-deploy.yml
  docker/server/validate.sh
Labels: core

#702 docs: pin sphinx version for rtd build
  .readthedocs.yaml
  docs/requirements.txt
Labels: client

#705 Fix issue where AMC LMK doesn't lock to the FPGA clock
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
Labels: bug, client

#706 Control flux ramp AC/DC coupling on the C02 and C04 Cryocard
  python/pysmurf/client/command/cryo_card.py
Labels: client

#697 Add control of the second 50K on the C04
  .gitignore
  python/pysmurf/client/base/smurf_config.py
  python/pysmurf/client/base/smurf_config_properties.py
  python/pysmurf/client/command/cryo_card.py
  python/pysmurf/client/command/smurf_command.py
Labels: enhancement, client

#710 Adding bay 0 LB + bay 1 HB C02 defaults.yml
  docker/server/definitions.sh
Labels: core, firmware-change
