Repository slaclab/pysmurf, pull requests merged in 2022-10, with the labels that each got.

#720 Add commands for external timing functionality
  cfg_files/slac/experiment_rflab_onlyBay0.cfg
  cfg_files/slac/experiment_rflab_thermal_testing_201907.cfg
  cfg_files/slac/experiment_so_westpak_6carrier_14day_test.cfg
  cfg_files/slac/rflab_smurf_startup.cfg
  cfg_files/slac/rflab_smurf_startup_stephen_test.cfg
  cfg_files/slac/smurf_startup_6carrier.cfg
  cfg_files/slac/smurf_startup_dan.cfg
  cfg_files/slac/smurf_startup_low_power_test.cfg
  cfg_files/slac/smurf_startup_mitch.cfg
  cfg_files/slac/smurf_startup_so_westpak_6carrier_14day_test.cfg
  cfg_files/slac/smurf_startup_thermal_test.cfg
  cfg_files/slac/srv11.cfg
  python/pysmurf/client/command/cryo_card.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/debug/smurf_noise.py
  python/pysmurf/client/util/smurf_util.py
Labels: client

#731 Critical bug fix for external downsampling bit masking
  cfg_files/lab1/experiment_lab1_2xLB_c04cc_wtpg_backplane.cfg
  cfg_files/lab1/experiment_lab1_2xLB_c04cc_wtpg_rtmfiber.cfg
  cfg_files/lab1/smurf_startup_timingtests.cfg
  python/pysmurf/client/command/smurf_atca_monitor.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
  scratch/shawn/dscounters/dscounters.py
  scratch/shawn/dscounters/estimate_bitmask.py
  scratch/shawn/fill_band.py
  scratch/shawn/full_band_response.py
  scratch/stephen/full_band_response_AMCatten.py
  src/smurf/core/processors/SmurfProcessor.cpp
Labels: core, client

#721 Adds data_path_id to the tune_dir
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/tune/smurf_tune.py
Labels: client, mustfix

#733 set_downsample_factor with external downsampling
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/dscounters.py
Labels: enhancement, client

#738 New functions to get/set timing modes
  cfg_files/lab1/experiment_lab1_2xLB_c04cc_extref.cfg
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/smurf_util.py
Labels: enhancement, client

#739 Fix get period from mask
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/util/dscounters.py
Labels: client

#741 Bug fix for setup_notches for unassigned channels, add SystemConfigured check.
  python/pysmurf/client/base/smurf_control.py
  python/pysmurf/client/command/smurf_command.py
  python/pysmurf/client/tune/smurf_tune.py
  scratch/shawn/logtimingpackets.py
Labels: bug, client

#746 Allow configuring systems in slots 3-7 for fiber timing.
  python/pysmurf/client/util/smurf_util.py
Labels: client
