Repository slaclab/pysmurf, pull requests merged in 2023-09, with the labels that each got.

#784 Update rogue version to 4.11.11
  docker/server/Dockerfile
Labels: enhancement, core

#785 Upgrade smurf-pcie to v3.0.2.
  docker/server/Dockerfile
Labels: core

#786 Change PCIE Repo to known stable version
  docker/server/Dockerfile
Labels: bug, core
